<li class="rx-app-nav-item" ng-show="isVisible(item.visibility)">
    <a ng-href="{{ item.href }}" class="item-link" ng-class="{active: item.active}">{{item.linkText}}</a>
    <div class="item-content" ng-show="item.active && (item.directive || item.children)">
        <div class="item-directive" ng-show="item.directive">
            <!-- item.directive injected here -->
        </div>
        <div class="item-children" ng-show="item.children">
            <!-- rx-app-nav injected here if 'children' is array -->
        </div>
    </div>
</li>