<div class="rx-app" ng-class="{collapsible: collapsibleNav === 'true', collapsed: collapsedNav}" ng-cloak>
    <nav class="rx-app-menu">
        <header class="site-branding">
            <h1 class="site-title">{{ siteTitle || 'Encore' }}</h1>
            <button class="collapsible-toggle btn-link" ng-if="collapsibleNav === 'true'" ng-click="collapseMenu()" title="{{ (collapsedNav) ? 'Show' : 'Hide' }} Main Menu">
                <span class="visually-hidden">{{ (collapsedNav) ? 'Show' : 'Hide' }} Main Menu</span>
                <div class="double-chevron" ng-class="{'double-chevron-left': !collapsedNav}"></div>
            </button>
            <div class="site-options">
                <!-- <a href="settings" class="site-settings">Settings</a> -->
                <a href="#" rx-logout class="site-logout">Logout</a>
            </div>
        </header>
        <nav class="rx-app-nav">
            <div ng-repeat="section in appRoutes.getAll()" class="nav-section nav-section-{{ section.type || 'all' }}">
                <h2 class="nav-section-title">{{ section.title }}</h2>
                <rx-app-nav items="section.children" level="1"></rx-app-nav>
            </div>
        </nav>
    </nav>
    <div class="rx-app-content" ng-transclude></div>
</div>
