<div class="rx-page">
    <header class="page-header clearfix">
        <rx-breadcrumbs></rx-breadcrumbs>
    </header>
    <div class="page-body">
        <rx-notifications></rx-notifications>
        <div class="page-titles" ng-if="title.length > 0 || unsafeHtmlTitle.length > 0 || subtitle.length > 0">
            <h2 class="page-title title lg" ng-bind="title" ng-if="title.length > 0"></h2>
            <h2 class="page-title title lg" ng-bind-html="unsafeHtmlTitle" ng-if="unsafeHtmlTitle.length > 0"></h2>
            <h3 class="page-subtitle title subdued" ng-bind-html="subtitle" ng-if="subtitle.length > 0"></h3>
        </div>
        <div class="page-content" ng-transclude></div>
    </div>
</div>
