<div class="rx-sortable-column">
  <div class="sort-action btn-link" ng-click="sortMethod({property:sortProperty})">
    <span class="visually-hidden">Sort by&nbsp;</span>
    <span class="display-value" ng-transclude></span>
    <span class="visually-hidden">Sorted {{reverse ? 'ascending' : 'descending'}}</span>
    <span class="sort-icon fa-stack">
      <i class="bg fa fa-stack-1x fa-sort"></i>
      <span ng-if="predicate === sortProperty" 
        class="sort-direction-icon" 
        ng-class="{ 'ascending': !reverse, 'descending': reverse }">

        <i ng-if="reverse" class="fa fa-stack-1x fa-sort-desc"></i>
        <i ng-if="!reverse" class="fa fa-stack-1x fa-sort-asc"></i>
      </span>
    </span>
  </div>
</div>