<h4 class="title sm">rxFormItem Directive</h4>            
<rx-form-item label="Plain textbox">
    <input type="text" />
</rx-form-item>
<rx-form-item label="Text area">
    <textarea rows="10" cols="50"></textarea>
</rx-form-item>
<rx-form-item label="Text area with character countdown">
    <div class="styleguide-character-count" ng-controller="rxCharacterCountCtrl">
        <textarea ng-model="model" rows="10" cols="50" rx-character-count></textarea>
    </div>
</rx-form-item>
<rx-form-item label="Toggle switch">
    <rx-toggle-switch ng-model="toggle"></rx-toggle-switch>
</rx-form-item>

<h4 class="title sm">Non-rxFormItem Fields wrapped in .field-input</h4>
<span class="field-input">
    <input type="text">
</span>
<span class="field-input">
    <input type="checkbox">
</span>
