language: node_js
node_js:
- '0.10'
before_install: npm install -g grunt-cli bower protractor@0.20.1 mocha@1.18.2
install:
- npm install
- bower install
- webdriver-manager update --standalone
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- bower install
- grunt connect:keepalive &
- webdriver-manager start &
script:
- grunt
- protractor protractor.conf.js
- grunt karma:minified
after_success:
- grunt coveralls
# only run this if it's a pull request (and yeah, it's a bit ugly right now)
- '[ "${TRAVIS_PULL_REQUEST}" != "false" ] && gem install wraith && grunt wraith || false'
- '[ "${TRAVIS_PULL_REQUEST}" != "false" ] && grunt cloudfiles:wraith --pr ${TRAVIS_PULL_REQUEST} && node utils/gh-pr-wraith.js ${TRAVIS_PULL_REQUEST} || false'
env:
  global:
  - secure: lBNmtcRYcHepXJsVsrQ+pr8yyrgN/1be7cDoTltXIxMq9WsTbm75Ypc4/rHhwO7K8cRMVbqEcMYbv6wZDGnpjL9z/nxTv14dS8S6wcIrLxGRwUPQ3McUqwOOrs7k2c0LiLwkJsjBBzBo+g52WY7rjPcOCXBBluZ98lar7gzP56c=
  - secure: XvQ6cnwELTp1odgqXaLeF0n39Q9sOsVx6zICnBfayHkmQxPOmTNnvip83vA7MyhwhlTn+nFqr7PWkqLc0CIKAoWdwHhfwMAI77aJWeasPaeywvZ7L+eZ7x4JrDt7jRo7SwzmFivHgGh9RtCMltaJWwvqszRPWwMFxcj0zoetKUI=
  - secure: "S6sdJYgRgdlwGR14hTH8zYSkF+bvjKiCEpsxHdiQLJL6T9hgByObdkpiOiKnt4Y2uuAfY0JUKsM/TG4apN22mH0R+xafmYx7+uMMEcBDB5EWJtohdaCkg/GgRFRTs5FkkJKBS+lIObDjjRyeGFh2uGjyXTTgtp+m1FIFj3mOQlw="
  - secure: "VXPSXFfvMXvybjnC3RUUDm6xLe1rHroYRKQjoXFcom7ukvnwDOSmA7+PShGU13Liv10ZYp7jk2nmzq54BQD21cr5hV5eVYKCZD3UYe4O4ALmEYdz3v2GdZsBOmwKZ5JVoh7ODWT/xQ0C3mTploQvlg+IxS+0zrX6RGIMOTmuBjE="
notifications:
  email: false
  hipchat:
    template:
    - '%{repository}#%{build_number} (%{branch}): %{message} (<a href="%{build_url}">Details</a>)'
    format: html
    rooms:
      secure: Pi8hykadFihWPglnHkpcJY5JlWRZ4Skg1oSn6Iqlgp2vA2oHFjFewHbzW0jCw025cut7m1rPRqg2se/X3gKf2TRkpWZso5jovopiHw9ULUL/B13Ihd5XH8AK8Bby4NgKhUepxVMWTuPu7r+O5RwQ3RTDFJtT1oSQnk0NDI5KK/Q=
  slack:
    secure: IyMKdUkXFeSPf0oTgHuvXGhJjJfiZTUbe/WUDyoOHgCuN/sempE0zHphwF/dEOcnGNsi7quGTTlv2AUq9ADVe4yeVy9YuxJqnNBeNMXViA+pBVX4A8W7UxaQclM+gWFteoK52EtjUNZNuZ5XOKFo04QtGxhaN4Qddd6geSR+fPE=