<rx-page title="'All Components'" class="components-list">
  <div class="clear">
    <table class="table-striped">
        <thead>
            <tr>
                <td colspan="3">
                    <rx-search-box
                        rx-placeholder="'Filter by any...'"
                        class="filter-box"
                        ng-model="searchText">
                    </rx-search-box>
                </td>
            </tr>
            <tr>
                <th ng-click="vm.sortColumn('name')">
                    Component Name
                    <span ng-show="vm.showCaret('name')" ng-class="vm.getCaretType()"></span>
                </th>
                <th ng-click="vm.sortColumn('rawLastModified')">
                    Last Updated
                    <span ng-show="vm.showCaret('rawLastModified')" ng-class="vm.getCaretType()"></span>
                </th>
                <th ng-click="vm.sortColumn('stability')">
                    Stability
                    <span ng-show="vm.showCaret('stability')" ng-class="vm.getCaretType()"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="comp in vm.components | componentsFilter:searchText | orderBy:vm.sortKey:vm.sortReverse">
                <td><a href="#/components/{{comp.name}}">{{ comp.name }}</a></td>
                <td>{{ comp.lastModified }}</td>
                <td>
                    <span ng-if="comp.stability">
                        <img ng-src="http://badges.github.io/stability-badges/dist/{{comp.stability}}.svg"></img>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</rx-page>
