<rx-page title="'Collapsible Elements'" class="styleguide">

    <h3> Collaspible Box </h3>
    <p>
        The rxCollapse element can be used to display and hide content. It can be
        configured to show as either expanded or collapsed on page load. A double
        chevron is used as a toggle to show/hide the inner contents, while keeping
        the header and border visible.
    </p>
    <rx-styleguide code-url="layout/collapsible/box.html"></rx-styleguide>

    <h3> See More/See Less </h3>
    <p>
        In areas where metadata needs to be available but space is limited, a
        "See More"/"See Less" link can be used to expand to show more metadata.
        The most relevant lines of metadata for a page's content should display on
        load, with less relevant lines of metadata hidden behind "See More".
    </p>
    <rx-styleguide code-url="layout/collapsible/see-more-see-less.html"></rx-styleguide>

</rx-page>
