<div class="form-item">
    <label for="{{fieldId}}" class="field-label">
        {{label}}:
    </label>
    <div>
        <input
            type="{{type}}"
            ng-required="{{required}}"
            id="{{fieldId}}"
            ng-min-length="{{minLength}}"
            ng-max-length="{{maxLength}}"
            max="{{max}}"
            min="{{min}}"
            name="{{name}}"
            ng-model="model"
            value="{{value}}"
            class="field-input" />
        <span class="field-suffix" ng-if="suffix">{{suffix}}</span>
    </div>
    <label ng-if="description" class="field-description" for="{{fieldId}}">
        {{description}}
    </label>
</div>