<div class="form-item">
    <table class="table-striped option-table" ng-show="data.length > 0 || emptyMessage ">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="column in columns" scope="col">
                    {{column.label}}
                </th>
            </tr>
        </thead>
        <tr ng-repeat="row in data" ng-class="{current: isCurrent(row.value), selected: isSelected(row.value, $index), disabled: checkDisabled(row)}" ng-init="rowIndex = $index">
            <td class="option-table-input">
                <div class="fillWrapper">
                    <label ng-switch on="type">
                        <div class="alignWrapper" ng-switch-when="radio">
                            <input rx-radio
                                id="{{$parent.fieldId}}_{{$parent.rowIndex}}"
                                ng-model="$parent.$parent.model"
                                value="{{$parent.row.value}}"
                                name="{{$parent.fieldId}}"
                                ng-disabled="$parent.checkDisabled(row)"
                                rx-attributes="{'ng-required': $parent.required}">
                        </div>
                        <div class="alignWrapper" ng-switch-when="checkbox">
                            <input rx-checkbox
                                id="{{$parent.fieldId}}_{{$parent.rowIndex}}"
                                ng-model="$parent.model[$parent.rowIndex]"
                                ng-change="$parent.updateCheckboxes($parent.model[$parent.rowIndex], $parent.rowIndex)"
                                ng-required="$parent.checkRequired()"
                                rx-attributes="{'ng-true-value': ($parent.row.value) ?  '\'' + $parent.row.value + '\'' : true, 'ng-false-value': ($parent.row.falseValue) ? '\'' + $parent.row.falseValue + '\'' : false}">
                        </div>
                    </label>
                </div>
            </td>
            <td ng-repeat="column in columns" data-column="{{column.label}}">
                <div class="fillWrapper">
                    <label for="{{fieldId}}_{{rowIndex}}">
                        <div class="alignWrapper">
                            <span ng-bind-html="getContent(column, row)"></span>
                            <span ng-show="isCurrent(row.value)">{{column.selectedLabel}}</span>
                        </div>
                    </label>
                </div>
            </td>
        </tr>
        <tr ng-if="data.length === 0 && emptyMessage">
            <td colspan="{{columns.length + 1}}" class="empty-data">{{emptyMessage}}</td>
        </tr>
    </table>
</div>
