/*
 * rxRadio
 */
.rxRadio {
    display: inline-block;
    width: @rxRadio-size;
    height: @rxRadio-size;
    background-color: transparent;
    position: relative;

    input[type="radio"],
    .fake-radio {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin: 0px;
        padding: 0px;
        border: 0px;
        outline: 0px;
    }

    .fake-radio {
        .box-sizing(border-box);
        z-index: 0;
        width: 100%;
        height: 100%;
        .border-radius(100%);
        overflow: hidden;
        border: @rxRadio-border-width solid @inputBorderColor;
        background-color: @rxRadio-background-color;

        // perfect center alignment for tick
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .tick {
            flex: 0 0 auto;
            .box-sizing(border-box);
            .border-radius(@rxRadio-tick-border-radius);
            width: @rxRadio-tick-size;
            height: @rxRadio-tick-size;
            background-color: transparent;
        }
    }//.fake-radio

    &.rx-disabled + label {
        color: @inputColorDisabled;
    }

    input[type="radio"] {
        z-index: 1;
        height: 110%;
        width: 110%;
        opacity: 0;
        cursor: pointer;

        // enabled checked
        &:checked + .fake-radio {
            border-color: @rxRadio-color-selected;

            .tick {
                background-color: @rxRadio-color-selected;
            }
        }

        .disabled() {
            cursor: not-allowed;

            // disabled, unchecked
            & + .fake-radio {
                border: 1px solid @inputBackgroundDisabled;

                .tick {
                    width: @rxRadio-tick-size;
                    height: @rxRadio-tick-size;
                }
            }

            &:checked + .fake-radio .tick {
                background: @inputBackgroundDisabled;
            }
        }//.disabled()

        &.ng-invalid.ng-dirty {
            // enabled unchecked error
            & + .fake-radio {
                border: @rxRadio-border-width-invalid solid @rxRadio-color-error;

                .tick {
                    .border-radius(@rxRadio-tick-border-radius-invalid);
                    width: @rxRadio-tick-size-invalid;
                    height: @rxRadio-tick-size-invalid;
                }
            }

            &:checked + .fake-radio .tick {
                background: @rxRadio-color-error;
            }

            // disabled trumps invalid
            &[disabled] {
                .disabled();
            }
        }

        // disabled trumps invalid
        &[disabled] {
            .disabled();
        }
    }//input
}//.rxRadio
