<!-- NOTE: page will likely need copy updates -->
<rx-page title="'Layouts'">
  <h2 class="clear">Grids</h2>
  <rx-notification type="error">
    <p>
      <strong>
        Use of these grids has been deprecated and this code will be removed
        in the near future. If you are using Pure CSS framework grids, you
        should convert them to the new
        <a href="#/layout/grid">flexbox grid</a>.
      </strong>
    </p>
  </rx-notification>

  <h3>Notice!</h3>
  <p>
    This feature will soon be deprecated in favor of the
    <a href="#/layout/grid">flexbox grid</a> layout module. This new
    module implements a more intuitive, semantic, attribute-based syntax for
    creating responsive designs making use of flexbox.
  </p>

  <h3>Description</h3>
  <p>
    While EncoreUI was initially designed to be an AngularJS widget library,
    we recognize that teams will want to use a CSS layout framework. We have
    added the <a href="http://purecss.io/grids/">Grids module</a> from
    Yahoo!'s Pure CSS framework for teams to easily build out a grid or column
    system as part of EncoreUI. We chose this lightweight framework for its
    emphasis on flex based layouts.
  </p>

  <h3>Usage</h3>
  <p>
    No additional installation is needed, as <code>grids-min.css</code> is
    already included in encore-ui CSS libraries.
  </p>
  <p>
    Most of the grid layouts you will use will be in the context of
    <code>rxPage</code> inside <code>rxApp</code>. For this reason, we will be
    using the regular grids only, and not responsive grids.
  </p>
  <p>
    The code sample below will give the clearest context of how grids work.
    Title containers on <code>rxPage</code> components are defaulted to float
    left, so the <code>.pure-g</code> class also has a <code>.clear</code>
    class attached.
  </p>
  <p>
    You'll find that the grid components will not have borders or padding
    within the grid units themselves. If you need white space between grid
    columns, adding a <code>.columns</code> class to the <code>.pure-g</code>
    container will give padding of 1.5ems per each individual cell, or 3ems
    together.
  </p>
  <rx-example name="layout.grid-1-0"></rx-example>
</rx-page>
