<rx-page title="'Wells'">
  <h3 class="clear">Page Wells</h3>
  <p>
    To create a well-effect, you can use the <code>.well</code>
    class &mdash; a box with significant padding and light gray background.
    You might use Page wells to communicate why data is not present for the
    user, usually if data can only be seen with permissions the user has not
    been granted. In cases where a user is able to add data without a
    permissions change, a button can be displayed to prompt the user
    to add data.
  </p>
  <rx-example name="wells.page"></rx-example>

  <h3>Modal Wells</h3>
  <p>
    Typically you can use Modal wells in the context of modals, to provide a
    summary of data entered or decisions made by the user in a form, to provide
    a clearer picture to the user of the changes they are about to submit.
  </p>
  <rx-example name="wells.modal"></rx-example>
</rx-page>
