<div class="rx-paginate" ng-switch="loadingState">
    <ul ng-switch-when="loading" class="loading-row">
        <li><span class="page-link" style="z-index: 5; position: relative">Loading...<span class="fa fa-fw fa-sm fa-spin fa-circle-o-notch"></span></span></li>
    </ul>
    <ul ng-switch-default class="pagination">
        <li><a tabindex="0" ng-click="scrollToTop()">Back to top</a></li>
        <li>Showing {{ pageTracking | PaginatedItemsSummary}} items</li>
        <span class="page-links">
            <li ng-class="{disabled: pageTracking.isFirstPage()}" class="pagination-first">
                <a ng-click="pageTracking.goToFirstPage()" ng-hide="pageTracking.isFirstPage()">First</a>
                <span ng-show="pageTracking.isFirstPage()">First</span>
            </li>
            <li ng-class="{disabled: pageTracking.isFirstPage()}" class="pagination-prev">
                <a ng-click="pageTracking.goToPrevPage()" ng-hide="pageTracking.isFirstPage()">« Prev</a>
                <span ng-show="pageTracking.isFirstPage()">« Prev</span>
            </li>

            <li ng-repeat="n in pageTracking | Page" ng-class="{active: pageTracking.isPage(n), 'page-number-last': pageTracking.isPageNTheLastPage(n)}" class="pagination-page">
                <a ng-click="pageTracking.goToPage(n)">{{n + 1}}</a>
            </li>

            <li ng-class="{disabled: pageTracking.isLastPage() || pageTracking.isEmpty()}" class="pagination-next">
                <a ng-click="pageTracking.goToNextPage()" ng-hide="pageTracking.isLastPage() || pageTracking.isEmpty()"> Next »</a>
                <span ng-show="pageTracking.isLastPage()">Next »</span>
            </li>
            <li ng-class="{disabled: pageTracking.isLastPage()}" class="pagination-last">
                <a ng-click="pageTracking.goToLastPage()" ng-hide="pageTracking.isLastPage()">Last</a>
                <span ng-show="pageTracking.isLastPage()">Last</span>
            </li>
        </span>
        <li class="pagination-per-page"> 
            <div>
                Show
                <ul>
                    <li ng-repeat="i in pageTracking.itemSizeList"><button ng-disabled="pageTracking.isItemsPerPage(i)" class="pagination-per-page-button" ng-disabled="i == pageTracking.itemsPerPage" ng-click="pageTracking.setItemsPerPage(i)">{{ i }}</button> </li>
                </ul>
            </div>
        </li>
    </ul>

</div>
