<div class="dropdown">
    <a href="#" ng-click="toggle($event)" class="nav-link">{{menu.linkText}} <b class="caret"></b></a>
    <ol class="nav-dropdown group" ng-show="visible">
        <li ng-repeat="item in menu.items" class="item {{item.className}}">
            <a href="{{item.path}}" class="item-target ">{{item.title}} </a>
            <ul class="dropdown-menu" ng-show="item.sub">
                <li ng-repeat="subItem in item.sub">
                    <a href="{{subItem.path}}">{{subItem.title}}</a>
                </li>
            </ul>
        </li>
    </ol>
</div>