// Common colors re-used in different instances
@white: #fff;

// Backgrounds
@appBg: #f5f5f5;
@productResourceBg: #393939;
@tableHeaderBg: #878787;
@tableBgAlt: #f6f6f6;
@buttonBg: #0950a3;
@buttonBgHover: #00ac31;
@disabledBg: #999;

// Borders
@inputBorder: #e4e4e4;
@tableBorder: #eee;
@tableHeaderBorder: #6e6e6e;

// Text colors
@appTextColor: #404040;
@inputColor: #444;
@linkColor: #4682c2;
@linkColorHover  : saturate(@linkColor, 15%);
@warnRed: #eb2124;
@warnRedHover: saturate(@warnRed, 15%);
@actionGreen: #3ab661;
@actionGreenHover: saturate(@actionGreen, 15%);

@subduedText: #bbb;

@productResourceLink: @white;
@productResourceSubduedLink: #bebebe;

@tableHeaderText: @white;
@tableCellText: #555;

@buttonText: @white;

// Measurements
@appLineHeight: 1.2;
@appFontSize: 13px;
@tableCellPadding: 10px;
@modalSelectWidth: 221px;

// FlexBox Columns
@maxFlexBoxColumnWidth: 15;

// Fonts
@appFont: "Roboto", sans-serif;