<h3 class="title">Custom Buttons</h3>                
 <button class="button xl">Extra-large Button</button>
 <button class="button lg">Large Button</button>
 <button class="button">Default Button</button>
 <button class="button sm">Small Button</button>
 <button class="button xs">Tiny Button</button>
 <button class="button positive">"Positive" Button</button>
 <button class="button negative">"Negative" Button</button>
 <button class="button submit">"Submit" Button</button>
 <button class="button finish">"Finish &amp; Close" Button</button>
 <button class="button cancel">"Cancel" Button</button>
 <button class="button" disabled>Disabled Button</button>
 <a href="#" class="button">My Link Button</a>

<hr />

<h3 class="title">Spinner Styles</h3>
<div ng-controller="customButtonsStyleguideCtrl">
    <rx-button
        default-msg="Click me to see a spinner"
        toggle="status.loading"
        toggle-msg="Displaying spinner"
        ng-click="clickMe()"
        disable="status.disable">
    </rx-button>
</div>

<hr />

<h3 class="title">Button Group</h3>
<div class="button-group" style="width: 250px;" ng-init="status = 'off'">
    <input id="status-off" type="radio" ng-model="status" value="off">
    <label for="status-off">Off</label>
    <input id="status-manual" type="radio" ng-model="status" value="manual">
    <label for="status-manual">Manual</label>
    <input id="status-auto" type="radio" ng-model="status" value="status">
    <label for="status-auto">Auto</label>
</div>
 
<hr />

<h3 class="title">Buttons as text</h3>
<button class="btn-link">Link</button>
