<form rx-form ng-controller="formsInvalidExamplesCtrl">
  <rx-form-section>
    <rx-field>
      <rx-field-name>Invalid Text Input</rx-field-name>
      <rx-field-content>
        <rx-input>
          <input type="text" always-invalid ng-model="txtInvalid" />
        </rx-input>
      </rx-field-content>

      <rx-field-name>Invalid Dropdown</rx-field-name>
      <rx-field-content>
        <rx-input>
          <select rx-select always-invalid ng-model="selInvalid">
            <option value="invalid">Invalid Option</option>
          </select>
        </rx-input>
      </rx-field-content>
    </rx-field>

    <rx-field>
      <rx-field-name>Invalid Radio</rx-field-name>
      <rx-field-content>
        <rx-input>
          <input rx-radio always-invalid id="radInvalidOne" name="radInvalid" value="1" ng-model="radInvalid" />
          <label for="radInvalidOne">Selected Option</label>
        </rx-input>
        <rx-input>
          <input rx-radio always-invalid id="radInvalidTwo" name="radInvalid" value="2" ng-model="radInvalid" />
          <label for="radInvalidTwo">Unselected Option</label>
        </rx-input>
      </rx-field-content>

      <rx-field-name>Invalid Checkbox</rx-field-name>
      <rx-field-content>
        <rx-input>
          <input rx-checkbox always-invalid id="chkInvalidOne" value="1" ng-model="chkInvalidOne" />
          <label for="chkInvalidOne">Checked Option</label>
        </rx-input>
        <rx-input>
          <input rx-checkbox always-invalid id="chkInvalidTwo" value="2" ng-model="chkInvalidTwo" />
          <label for="chkInvalidTwo">Unchecked Option</label>
        </rx-input>
      </rx-field-content>

      <!-- Uncomment if/when "invalid" styles available -->
      <!--
      <rx-field-name>Invalid Toggle Switch</rx-field-name>
      <rx-field-content>
        <rx-input>
          <rx-toggle-switch always-invalid id="togInvalidOn" ng-model="togInvalidOn"></rx-toggle-switch>
          <label for="togInvalidOn">Toggled ON Option</label>
        </rx-input>
        <rx-input>
          <rx-toggle-switch id="togInvalidOff" ng-model="togInvalidOff"></rx-toggle-switch>
          <label for="togInvalidOff">Toggled OFF Option</label>
        </rx-input>
      </rx-field-content>
      -->
    </rx-field>

    <rx-field>
      <rx-field-name>Invalid Textarea</rx-field-name>
      <rx-field-content>
        <rx-input>
          <textarea rows="8" always-invalid ng-model="txtAreaInvalid">{{txtAreaInvalid}}</textarea>
        </rx-input>
      </rx-field-content>
    </rx-field>
  </rx-form-section>
</form>
