<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <h4 class="modal-subtitle" ng-if="subtitle">{{subtitle}}</h4>
    <button class="modal-close btn-link" ng-click="$parent.cancel()"><span class="visually-hidden">Close Window</span></button>
</div>
<div class="modal-body">
    <div ng-show="$parent.isLoading" class="loading" rx-spinner="dark" toggle="$parent.isLoading"></div>
    <form ng-hide="$parent.isLoading" name="modalActionForm" class="modal-form rx-form" ng-transclude></form>
</div>
<div class="modal-footer">
    <button class="button submit" ng-click="$parent.submit()" type="submit" ng-disabled="modalActionForm.$invalid">{{submitText || "Submit"}}</button>
    <button class="button cancel" ng-click="$parent.cancel()">{{cancelText || "Cancel"}}</button>
</div>