@import 'vars';

.tooltip {
    position: absolute;
    display: block;
    z-index: @tooltip-z-index;
    visibility: visible;
    font-size: @tooltip-font-size;
    line-height: @tooltip-line-height;
    .opacity(0);
    padding: 0;

    .tooltip-inner {
        max-width: @tooltip-max-width;
        color: @tooltip-color;
        background-color: @tooltip-background-color;
        text-align: center;
        text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 4px 0px;
        padding: 1em;
        .border-radius(4px);

        .tooltip-header {
            color: @tooltip-header-color;
            text-align: left;
            font-size: 15px;
            padding-bottom: 5px;
            font-weight: 600;
        }//.tooltip-header
    }//.tooltip-inner

    .tooltip-arrow {
        position: absolute;
        box-sizing: border-box;
        width: @tooltip-arrow-width; // 0;
        height: @tooltip-arrow-width; // 0;
        border-width: @tooltip-arrow-width;
        border-color: transparent;
        border-style: solid;
        text-shadow: rgba(0, 0, 0, 0.09) 1px 1px 1px;
    }

    &.in {
        .opacity(@tooltip-opacity);
    }

    &.top {
        margin-top: -@tooltip-arrow-width;
        padding-bottom: @tooltip-arrow-width / 2;

        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -@tooltip-arrow-width;
            border-bottom-width: 0;
            border-top-color: @tooltip-arrow-color;
        }//.tooltip-arrow
    }//&.top

    &.bottom {
        margin-bottom: -@tooltip-arrow-width;
        padding-top: @tooltip-arrow-width;

        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -@tooltip-arrow-width;
            border-top-width: 0;
            border-bottom-color: @tooltip-arrow-color;
        }//.tooltip-arrow
    }//&.bottom

    &.left {
        margin-left: -@tooltip-arrow-width;
        padding-right: @tooltip-arrow-width;

        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -@tooltip-arrow-width;
            border-right-width: 0;
            border-left-color: @tooltip-arrow-color;
        }//.tooltip-arrow
    }//.left

    &.right {
        margin-right: -@tooltip-arrow-width;
        padding-left: @tooltip-arrow-width;

        .tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -@tooltip-arrow-width;
            border-left-width: 0;
            border-right-color: @tooltip-arrow-color;
        }
    }//&.right
}//.tooltip
