@import 'mixins';

/*
# rxNotify

Note: **Styledocco will not display the images associated with the notification bars.** Please reference the main Encore demo to view this. The class `rx-notifications` is a container div, and is required.

In the second example we added `<button class="notification-dismiss btn-link">&times;</button>` to add a dismiss marker. If you are not using Encore UI's angular.js directives, it's up to you to flesh out this functionality.

```
<div class="rx-notifications">
    <div class="rx-notification notification-error">
        Error Message
    </div>

    <div class="rx-notification notification-error">
        Error Message
        <button class="notification-dismiss btn-link">&times;</button>
    </div>

    <div class="rx-notification notification-info">
        Informational Message
    </div>    

    <div class="rx-notification notification-info notification-loading">
        <div class="rx-spinner"></div>
        Loading
    </div>

    <div class="rx-notification notification-success">
        Success Message
    </div>

    <div class="rx-notification notification-warning">
        Warning Message
    </div>
</div>
```
*/

.rx-notifications {
    margin-bottom: 1.5em;

    .rx-notification {
        clear: both;
        font-weight: 800;
        font-size: 1.2em;
        padding: 10px 50px;
        margin-bottom: 2px;
        position: relative;
        background: no-repeat 18px 50%;

        &.notification-success {
            background-color: #ddffd3;
            background-image: url('images/green-checkmark-circled.png');
            color: #45ad26;
        }
        &.notification-info {
            background-color: #83c9fe;
            background-image: url('images/info-circled.png');
            color: #1672b9;
        }
        &.notification-warning {
            background-color: #ffa61b;
            background-image: url('images/warning-triangle.png');
            color: #fff;
        }
        &.notification-error {
            background-color: #f21a1a;
            background-image: url('images/error-stop.png');
            color: #fff;
        }
        &.notification-loading {
            // Hide icon since it's replaced by spinner
            background-image: none;
            .rx-spinner {
                position: absolute;
                left: 19px;
                top: 50%;
                margin-top: -9px;
            }
        }
    }

    .notification-dismiss {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 15px;
        content: '\00D7';
        .opacity(.2);
        color: #000;
        &:hover,
        &:focus {
            .opacity(.5);
            text-decoration: none;
        }
    }
}