@import 'mixins';

.rx-notifications {
    margin-bottom: 1.5em;

    .rx-notification {
        clear: both;
        font-weight: 800;
        font-size: 1.2em;
        padding: 10px 50px;
        margin-bottom: 2px;
        position: relative;
        background: no-repeat 18px 50%;

        &.notification-success {
            background-color: #ddffd3;
            background-image: url('images/green-checkmark-circled.png');
            color: #45ad26;
            a {
              color: #7db162;
            }
        }
        &.notification-info {
            background-color: #83c9fe;
            background-image: url('images/info-circled.png');
            color: #1672b9;
            a {
              color: #568fb8;
            }
        }
        &.notification-warning {
            background-color: #ffa61b;
            background-image: url('images/warning-triangle.png');
            color: #fff;
            a {
              color: #f1d6af;
            }
        }
        &.notification-error {
            background-color: #f21a1a;
            background-image: url('images/error-stop.png');
            color: #fff;
            a {
              color: #fdaaab;
            }
        }
        &.notification-loading {
            // Hide icon since it's replaced by spinner
            background-image: none;
            .rx-spinner {
                position: absolute;
                left: 19px;
                top: 50%;
                margin-top: -9px;
            }
        }
    }

    .notification-dismiss {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 15px;
        content: '\00D7';
        .opacity(.5);
        color: #000;
        &:hover,
        &:focus {
            .opacity(.8);
            text-decoration: none;
        }
    }
}

.animate-fade.ng-enter,
.animate-fade.ng-leave {
    -webkit-transition: 0.25s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 0.25s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 0.25s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 0.25s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 0.25s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate-fade.ng-leave.ng-leave-active,
.animate-fade.ng-enter {
    opacity:0;
}

.animate-fade.ng-leave,
.animate-fade.ng-enter.ng-enter-active {
    opacity:1;
}
