<div layout="row">
    <div flex>
        <ul>
            <li> Item 1 </li>
            <li> Item 2 </li>
            <li> Item 3 </li>
        </ul>
    </div>
    <div flex>
        <ol class="list">
            <li> Item 1 </li>
            <li> Item 2 </li>
            <li> Item 3 </li>
        </ol>
    </div>
    <div flex>
        <ul class="list">
            <li> Item 1 </li>
            <li> Item 2 </li>
            <li> Item 3 </li>
        </ul>
    </div>
    <div flex>
        <div class="list bulleted">
            <p class="item"> Item 1 </p>
            <p class="item"> Item 2 </p>
            <p class="item"> Item 3 </p>
        </div>
    </div>
    <div flex>
        <div class="list decimal">
            <p class="item"> Item 1 </p>
            <p class="item"> Item 2 </p>
            <p class="item"> Item 3 </p>
        </div>
    </div>
</div>
