<div class="collapse-container" ng-class="{'hide-border': !title}">
	<div ng-if="title" class="collapse-title-wrap collapse-title-wrap-custom">
		<div class="double-chevron-cell" ng-class="{ expanded: isExpanded }">
			<a class="double-chevron" ng-click="toggleExpanded()"></a>
		</div>
		<h3 class="rx-collapse-title title">{{title}}</h3>
	</div>
	<div ng-show="isExpanded" ng-class="{'collapse-body':title}" ng-transclude></div>
	<div ng-if="!title" ng-class="{ expanded: isExpanded }" class="collapse-title-wrap collapse-title-wrap-default">
		<span ng-click="toggleExpanded()">
			<span ng-if="!isExpanded" class="sml-title">
				<span class="toggle-title">See More</span>
				<i class="fa fa-angle-double-down"></i>
			</span>
			<span ng-if="isExpanded" class="sml-title">
				<span class="toggle-title">See Less</span>
				<i class="fa fa-angle-double-up"></i>
			</span>
		</span>
	</div>
</div>