<div class="collapse-container" ng-class="cContainer">

	<div class="tabStyle_1" ng-show="!tabToShow">
		<div class="double-chevron-cell" ng-class="{ expanded: isExpanded }">
        	<a class="double-chevron" ng-click="isExpanded = !isExpanded"></a>
	    </div>
	    <h3 class="rx-collapse-title title">{{title}}</h3>
	</div>
	
    <div class="collapse-body" ng-show="isExpanded" ng-transclude></div>
    <div class="tabStyle_2" ng-show="tabToShow">

		<div class="ts2Wrapper" ng-click="toggleTitleAndCollapse()">
			<h3 class="rx-collapse-title smlTitle">{{toggleTitle}}</h3>
		    
	        <i ng-class="arrowChange" class="fa fa-angle-double-down"></i>
		    
		</div>
	    
	</div>
</div>
