<rx-page title="vm.pageTitle" class="modules-list">
  <div class="clear">
    <p>
      Can't find what you're looking for? Click <a href="#/modules">here</a> to search across all modules.
    </p>
    <table rx-floating-header class="table-striped">
      <thead>
        <tr>
          <th colspan="10">
            <rx-search-box
              rx-placeholder="'Filter by any...'"
              class="filter-box"
              ng-model="searchText">
            </rx-search-box>
          </th>
        </tr>
        <tr>
          <th class="column name" ng-click="vm.sortColumn('displayName')">Name
            <span ng-show="vm.showCaret('displayName')" ng-class="vm.getCaretType()"></span>
          </th>
          <th class="column stability" ng-click="vm.sortColumn('stability')">Stability
            <span ng-show="vm.showCaret('stability')" ng-class="vm.getCaretType()"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="vm.modules.length" ng-repeat="module in vm.modules | categoryModulesFilter:searchText | orderBy:vm.sortKey:vm.sortReverse">
          <td class="column name">
            <a href="#/{{vm.category}}/{{module.name}}">{{ module.displayName }}</a>
          </td>
          <td class="column stability">
            <span ng-if="module.stability">
              <img ng-src="http://badges.github.io/stability-badges/dist/{{module.stability}}.svg"></img>
            </span>
          </td>
        </tr>
        <tr ng-if="!vm.modules.length">
          <td colspan="10">No {{vm.category}} were found.</td>
        </tr>
      </tbody>
    </table>
  </div>
</rx-page>
