<rx-page title="module.name" class="{{module.name}}-demo">
  <div layout="row" layout-align="middle">
    <div flex>
      <img ng-if="module.stability"
        alt="stability is {{module.stability}}"
        ng-src="http://badges.github.io/stability-badges/dist/{{module.stability}}.svg" />
    </div>

    <div flex class="align-right">
      <span ng-if="module.isLegacy"><!-- for legacy Components -->
        <a href="ngdocs/index.html#/api/{{ module.name }}/" class="module-api button">View API</a>
      </span>
      <span ng-if="!module.isLegacy"><!-- for everything else -->
        <a href="ngdocs/index.html#/api/{{ module.category }}.{{ module.api }}/" class="module-api button">View API</a>
      </span>
      <a href="https://github.com/rackerlabs/encore-ui/tree/master/src/{{ module.category }}/{{ module.name }}/" class="module-source button">View Source</a>
    </div>
  </div>

  <div class="clear module-description" ng-if="module.docs.md">
    <h2 class="readme-title">Readme</h2>
    <div ng-bind-html="module.docs.md"></div>
  </div>

  <div ng-if="!module.isLegacy" rx-compile="module.docs.html" class="module-demo"></div>

  <tabset class="clearfix clear" ng-if="module.isLegacy && (module.docs.html || module.docs.js)">
    <tab heading="Demo">
      <div rx-compile="module.docs.html" class="module-demo"></div>
    </tab>

    <tab heading="Markup" ng-if="module.docs.html">
      <rx-prism language="markup">{{ module.docs.html }}</rx-prism>
    </tab>

    <tab heading="JavaScript" ng-if="module.docs.js">
      <rx-prism language="clike">{{ module.docs.js }}</rx-prism>
    </tab>

    <tab heading="Less" ng-if="module.docs.less">
      <rx-prism language="css">{{ module.docs.less }}</rx-prism>
    </tab>

    <tab heading="Protractor" ng-if="module.docs.midway">
      <rx-prism language="clike">{{ module.docs.midway }}</rx-prism>
    </tab>
  </tabset>
</rx-page>
