<header class="site-header">
    <h1 class="logo" ng-hide="logo"><a href="/">Encore</a></h1>
    <div ng-if="logo" ng-bind-html="logo"></div>
    <rx-global-search placeholder-text="{{ placeholderText }}" search-function="searchFunction()"></rx-global-search>
    <nav class="main-nav">
        <ul>
            <!-- li class="nav-item"><rx-dropdown menu="dashboards"></rx-dropdown></li -->
            <li class="nav-item" ng-hide="links"><rx-dropdown menu="bookmarks"></rx-dropdown></li>
            <li class="nav-item" ng-hide="links"><rx-dropdown menu="internalTools"></rx-dropdown></li>
            <li class="nav-item" ng-show="links" ng-repeat="link in links"><rx-dropdown menu="link"></rx-dropdown></li>
        </ul>
    </nav>
    <nav class="user-nav">
        <ul>
            <!-- li class="nav-item"><a href="#" class="nav-link">Notifications (0)</a></li -->
            <!-- li class="nav-item"><a href="#" class="nav-link">Support</a></li -->
            <!-- li class="nav-item"><a href="#" ng-click="userSettings($event)" class="nav-link">Settings</a></li -->
            <li class="nav-item"><a href="/login" rx-logout class="nav-link">Log out</a></li>
        </ul>
    </nav>

    <div class="sub-header">
        <nav class="site-breadcrumbs">
            <rx-breadcrumbs></rx-breadcrumbs>
        </nav>

        <a class="bookmark" href="#"><i class="fa fa-bookmark"></i> &nbsp;Bookmark this page</a>
    </div>
</header>
