<rx-page title="'Modals'">

<h3 class="clear">Basic Usage</h3>

<ul class="list">
    <li>
      <a href="#/components/rxModalAction">See the rxModalAction directive</a>
      for implementation and examples.
    </li>
</ul>

<h2 id="designpatterns">Design Patterns within Encore</h2>

<div class="module-description clear">
    <ul class="list">
        <li>
          When should you use modals instead of a new page?
            <ul class="list">
                <li>
                  According to Bootstrap, "Modals are streamlined, but
                  flexible, dialog prompts with the minimum required
                  functionality and smart defaults."
                </li>
                <li>
                  In Encore, you should use modals for confirmation messaging.
                  For notifications you will use rxNotification, which is the
                  static subdirective of rxNotify. See the example below which
                  uses <code>type="error"</code>. <code>type="error"</code> can
                  be replaced with the appropriate message response style.
                </li>
                <li>
                  You also can use modals to edit content in lieu of having an
                  edit view. This design pattern is not ideal. An Edit View
                  will need to be considered as a pattern in future iterations.
                </li>
            </ul>
        </li>
        <li>
          Using the rxModalForm subdirective will automatically provide you
          with a title, subtitle, submit and cancel text. You can use rxForm
          elements within rxModalForm.
        </li>
        <li>
          For real world examples, take a look at the
          <a href="https://github.com/rackerlabs/encore-cloud-ui/blob/master/app/views/servers/templates/server-actions.html">
            ng-template blocks triggered from server action links</a>
            under Encore Cloud.
        </li>
        <li>
          If you need to deviate from the title / footer pattern at all,
          you'll need to take a look at the
          <a href="https://github.com/rackerlabs/encore-ui/blob/master/src/rxModalAction/templates/rxModalActionForm.html">
          rxModalForm directive template markup</a> and build upon that.
        </li>
    </ul>
</div>

    <rx-styleguide code-url="templates/styleguide/modals/delete.html"></rx-styleguide>

<h2 id="roadmap">UI Roadmap / Possible Future-work</h2>

<ul class="list">
    <li>
      Create a design pattern to document modal titles and subtitles.
    </li>
    <li>
      Solidify copy and design language for action and cancel buttons within modals.
    </li>
</ul>

</rx-page>
