<rx-page title="'Formatting'">
  <h3 class="clear">Date formatting</h3>
  <ul class="list">
    <li>
      Dates in any context should be formatted this way:
      <code>Mar 2, 2015 @ 15:40 (UTC-0600)</code> &mdash; a three-letter
      capitalized month abbreviation (no period), followed by the day of
      the month (no leading zeroes), a comma, the four-digit year, an
      @ symbol, military time, and UTC in parentheses.
    </li>
    <li>
      The only time this formatting standard would not be used is when
      relative dates would be helpful to the user, such as "4 hours ago"
      or "1 week ago".
    </li>
    <li>
      It is recommended that relative dates be reserved for more informal
      settings like user notes or comments. Relative dates should not
      extend too far into the past. For instance, "1 week ago" may be
      helpful to the user, but "8 months ago" or "3 years ago" is better
      represented by the non-relative format detailed above, as it reveals
      more specific information about dates that provide better context and
      information to the user when comparing dates and times.
    </li>
  </ul>
</rx-page>

