<rx-page title="'Helper Classes'">
  <ul class="list clear">
    <li>
      To make text less prominent, change its color using the
      <code>.subdued</code> class. This change will still persist if
      the class is within a link.
    </li>
    <li>
      You can mark content as full width. For example, styling a full
      width button by using the <code>.full-width</code> class.
      This class requires 'display' to be styled as inline-block or
      block.
    </li>
    <li>Hidden content
      <ul class="list">
        <li>
          To hide an element but not remove it from the page
          spacing, use the <code>.hidden</code> class.
        </li>
        <li>You can hide content visually and from the page spacing
          <a href="http://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html" target="_blank">
            (but can still be read by screen readers)
          </a> using the <code>.visually-hidden</code> class.
        </li>
      </ul>
    </li>
    <li>Clearing floats
      <ul class="list">
        <li>
          To clear child elements using clearfix, you can use the
          <code>.clear</code> class.
          <a href="http://nicolasgallagher.com/micro-clearfix-hack/" target="_blank">
            Learn more about the hack
          </a>.
        </li>
        <li>
          To clear previous sibling floats, you can use the
          <code>.clear-left</code> and <code>.clear-right</code>
          classes.
        </li>
      </ul>
    </li>
  </ul>
  <rx-example name="styles.helpers"></rx-example>
</rx-page>
