<h2 class="page-title title lg" id="contribution-guide">Contribution Guide</h2 class="page-title title lg"><p>The following guidelines are in place to keep it as easy as possible to contribute changes to EncoreUI, while making sure not to overburden the core EncoreUI team.</p>
<h3 class="title" id="bugs-amp-issues">Bugs &amp; Issues</h3 class="title"><p>Please submit any bugs you encounter when using EncoreUI to our <a href="https://github.com/rackerlabs/encore-ui/issues">Github Issues Tracker</a>.</p>
<p>When submitting a bug report, please <strong>include a set of steps to reproduce the issue</strong> and any related information (browser, OS, etc).
If an EncoreUI developer cannot reproduce the issue, it becomes much more difficult to fix.</p>
<h4 class="title sm" id="preparing-an-issue-for-development">Preparing an Issue for development</h4 class="title sm"><p>When an Issue is ready to move to development, make sure it includes the following:</p>
<ul>
<li>Link to Invision designs (if applicable)</li>
<li>Screenshot of final visual design</li>
<li>For new visual components or visual changes, sign-off from our designers is <em>required</em>. Mark issue with <code>Needs Design</code> label to request input</li>
<li>When all technical discussion on the issue is complete, change the label to <code>Ready for Dev</code>. For visual components/changes, <em>only</em> a designer may make this change.</li>
</ul>
<h3 class="title" id="addingupdating-code">Adding/Updating Code</h3 class="title"><p>If you plan on adding/updating code, please make sure you have first filed an issue, detailing why you think the update is necessary. This lets the EncoreUI team discuss the problem and potential solutions with you.
This also helps to ensure that separate teams are not trying to do the same thing simultaneously.</p>
<h3 class="title" id="pr-types">PR Types:</h3 class="title"><p>The following types of Pull Requests are most commonly seen:</p>
<ul>
<li>New Components</li>
<li>DO NOT MERGE - Reserved for prototype work</li>
<li>Styles</li>
<li>Docs</li>
<li>Bug Fixes</li>
<li>Component Revisions - Update to the style or interaction</li>
<li>Deprecations</li>
</ul>
<p>The most complex PRs are usually &quot;New Components&quot;. The &quot;PR Steps&quot; below describe our criteria for putting together a new component PR. For the other types, adjust the steps as necessary, let common sense be your guide!</p>
<p>Currently, when adding a new component, our most precious resource is the time of our designers. To ensure that the PR process is as streamlined for them as possible, please make sure to follow the steps below.</p>
<h3 class="title" id="pr-steps">PR Steps</h3 class="title"><ul>
<li><strong>Prerequisites</strong>:<ul>
<li>New Components <em>must</em> be created using our <a href="#/guides/ui-setup#creating-a-new-module">Component Scaffolding</a></li>
<li>A corresponding <a href="" ng-click="vm.scrollTo('preparing-an-issue-for-development')">Issue should be present</a></li>
</ul>
</li>
<li><strong>Step 1</strong>: Submitter includes screenshot of new component in PR description (See <a href="" ng-click="vm.scrollTo('design-review-of-pull-requests')">&quot;Design Review of Pull Requests&quot;</a> below)</li>
<li><strong>Step 2</strong>: Comment with Design Sign-Off on final product - Design LGTM</li>
<li><strong>Step 3</strong>: Checklist<ul>
<li><a href="#/guides/testing#component-tests-aka-unit-tests">Unit Tests</a></li>
<li><a href="#/guides/testing#convenience-page-objects">Page Objects updated</a></li>
<li><a href="#/guides/testing#midway-tests">Functional/Midway Tests updated</a></li>
<li><a href="#/guides/css-styleguide">CSS Best Practices applied</a></li>
<li>Component Documentation Updated (i.e. the <code>README.md</code> for the component)</li>
<li>EncoreUI Style Guide updated if applicable</li>
</ul>
</li>
<li><strong>Step 4</strong>: Comment from submitter with their verification of Checklist</li>
<li><strong>Step 5</strong>: Requested Feedback:<ul>
<li>Keep an eye out for Labels added by reviewers (ex. &quot;On Hold&quot;, &quot;Needs Design&quot;, etc.)</li>
<li>Stop the Train Criteria:<ul>
<li>Breaking Changes not previously discussed &amp; documented</li>
<li>New Technologies not previously discussed &amp; documented</li>
<li>Major visual component not approved by Design</li>
</ul>
</li>
<li>See <a href="" ng-click="vm.scrollTo('providing-pr-feedback')">Providing PR Feedback</a></li>
</ul>
</li>
<li><strong>Step 6</strong>: 2 Dev LGTM&#39;s</li>
<li><strong>Step 7</strong>: Squash Commit (<a href="" ng-click="vm.scrollTo('finalizing-a-pull-request')">see here for more details</a>)</li>
<li><strong>Step 8</strong>: Final Travis Build Verification</li>
<li><strong>Step 9</strong>: MERGE IT!</li>
</ul>
<h4 class="title sm" id="providing-pr-feedback">Providing PR Feedback</h4 class="title sm"><p>There are certain things developers look for in PR Feedback, and certain items that can usually &quot;wait until later&quot;.</p>
<h5 id="requested-feedback">Requested Feedback</h5><ul>
<li>CSS Best Practices (ie: LESS variables)</li>
<li>JavaScript / Angular Best Practices</li>
<li>Maintainability of the Code Base</li>
<li>JavaScript Documentation</li>
<li>Test Coverage Validation</li>
</ul>
<h5 id="nonrequested-feedback">Non-Requested Feedback</h5><p>Create an issue for non-requested feedback &amp; tag with types, for example:</p>
<ul>
<li>visual design</li>
<li>architecture</li>
<li>feature request</li>
<li>etc.</li>
</ul>
<p>Topics outside of the scope of the PR should be left for later. If a component already has design sign-off, the PR is not the place to question the design or ask for design changes</p>
<h4 class="title sm" id="get-feedback-early-and-often">Get feedback early and often</h4 class="title sm"><p>It is much better to ask for feedback on an unfinished idea than to receive feedback on a finished one. If you are developing a new component, or updating an old one, feel free to post code as you write it. But please add &quot;DO NOT MERGE&quot; to the title of the PR, to let people know it is not quite ready.</p>
<h3 class="title" id="encoreui-developer-setup">EncoreUI Developer Setup</h3 class="title"><p><a href="#/guides/ui-setup">EncoreUI Developer Setup</a> - How to install the EncoreUI codebase</p>
<h3 class="title" id="coding-standards">Coding Standards</h3 class="title"><p><a href="#/guides/css-styleguide">CSS Style Guide</a></p>
<p><a href="#/guides/js-styleguide">JavaScript Style Guide</a></p>
<h3 class="title" id="code-contribution-process">Code Contribution Process</h3 class="title"><p>The process for any code updates follows <a href="http://scottchacon.com/2011/08/31/github-flow.html">the GitHub Flow model</a>.</p>
<p>To sum up:</p>
<ol>
<li>Create a new branch in your local repo</li>
<li>Commit to that branch</li>
<li>Push branch up to Github</li>
<li>Submit PR for review (according to guidelines above)</li>
<li>Once reviewed and feedback given (and implemented), an EncoreUI developer will merge the branch to master</li>
</ol>
<h3 class="title" id="3rdparty-libraries">3rd-party Libraries</h3 class="title"><p>Any libraries added to the project must be pre-approved with the UI team.</p>
<h3 class="title" id="tips-on-committing-your-code">Tips on Committing Your Code</h3 class="title"><h4 class="title sm" id="update-your-gitconfig-to-only-push-the-current-branch">Update your .gitconfig to only push the current branch</h4 class="title sm"><p>Ensure that you have the following in your <code>.gitconfig</code>.</p>
<pre><code>[push]
    default = current
</code></pre><p>You can add the above lines to your <code>.gitconfig</code> if they are not present, or run the following command in your terminal:</p>
<p><code>git config --global push.default current</code></p>
<h4 class="title sm" id="diff-before-every-commit">Diff Before Every Commit</h4 class="title sm"><p>Get into the habit of running <code>git diff</code> or <code>git diff --cached</code> before every commit. This helps ensure that no unwanted changes sneak in. Also, check for unnecessary whitespace with <code>git diff --check</code>.</p>
<h4 class="title sm" id="commits-should-be-granular">Commits Should Be Granular</h4 class="title sm"><p>You should keep each commit as granular as possible. For instance, do not check in 2 bug fixes in one commit -- separate them out into 2 commits.</p>
<h4 class="title sm" id="commits-follow-a-common-format">Commits Follow a Common Format</h4 class="title sm"><p>Commit messages adhere to the Angular <a href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit-message-format">commit message format</a>. Any commits that do not follow this format will be rejected.</p>
<h3 class="title" id="testing">Testing</h3 class="title"><ul>
<li>Run <em>all</em> the tests to assure nothing else was accidentally broken.</li>
<li>Meet or exceed a minimum Unit Test coverage of 80%<ul>
<li>simple controllers/services may not need to be unit tested, depending on their complexity</li>
</ul>
</li>
<li>Midway tests need to be created for any new component</li>
</ul>
<p><a href="#/guides/testing">More on testing</a></p>
<h3 class="title" id="submitting-changes">Submitting changes</h3 class="title"><p>Before submitting any changes, make sure the master branch is merged locally into your branch (using <a href="http://git-scm.com/book/en/Git-Branching-Rebasing">Git rebase</a> is preferred). Once done, push your branch up to Github and <a href="https://help.github.com/articles/using-pull-requests">submit a Pull Request</a>.</p>
<h3 class="title" id="design-review-of-pull-requests">Design Review of Pull Requests</h3 class="title"><p>Many times, pull requests will touch resources that render visually. These are still changes that must be reviewed! For the sake of simplicity and transparency, it is the responsibility of the author of a pull request to also include a comment containing screenshots of the visual changes. Here is an example of a typical pull request workflow containing designer feedback and sign off.</p>
<ol>
<li>A pull request author finishes some new feature that contains visual changes <em>already mocked-up and approved by design</em>.</li>
<li>The pull request author gathers the appropriate &quot;before&quot; (master branch, usually) and &quot;after&quot; screenshots of each relevant section.</li>
<li>A pull request is created.</li>
<li>A comment is created <a href="https://github.com/blog/821">that tags an EncoreUI designer</a>. Immediately below this &quot;@&quot; mention, the screenshots are <a href="https://help.github.com/articles/issue-attachments/">uploaded in the comment interface</a>.</li>
<li>The initial visual feedback suggestion from our team recommends changing something so it better complies with original mock-ups they provided. This change would require new screenshots!</li>
<li>The pull request author changes something about the visual aspect of the design. They capture the new, changed screenshots (the original ones remain unchanged).</li>
<li>New screenshots are added, exactly how they were outlined above. Copy any pre-existing &quot;before&quot; screenshots from the old screenshot collection. Tag the designer reviewing this pull request.</li>
<li>Previous screenshots are edited to no longer render inline. This prevents confusion while retaining accurate historical records of visual feedback during review.</li>
</ol>
<h5 id="editing-previous-screenshots">Editing previous screenshots</h5><p>Here is an example of how you should edit the old screenshot comments to change them from inline rendered to non-rendered.</p>
<p><strong>Before:</strong> Used to render inline.</p>
<pre><code>![I heard you like screenshots in github](https://cloud.githubusercontent.com/assets/1214609/7869834/dcd3cada-054a-11e5-9f4f-79d35d1153db.jpg)
</code></pre><p><strong>After:</strong> Will no longer render inline.</p>
<pre><code>[Outdated screenshot.](https://cloud.githubusercontent.com/assets/1214609/7869834/dcd3cada-054a-11e5-9f4f-79d35d1153db.jpg)
</code></pre><h3 class="title" id="finalizing-a-pull-request">Finalizing a Pull Request</h3 class="title"><p>Occasionally a PR will receive comments and/or requests for changes before it is merged in. These changes should be submitted as new commits on the existing PR.</p>
<p>Once EncoreUI developers are happy with the final state of the PR, they will write &quot;LGTM&quot; or &quot;Looks good to me&quot; as a comment, and ask that you squash all of your commits down into one or two.</p>
<h4 class="title sm" id="squashing-commits">Squashing Commits</h4 class="title sm"><p>Commits are normally squashed as follows:</p>
<ol>
<li><code>git rebase -i HEAD~x</code> where x is the number of commits you have made on the branch/PR (The &quot;Commits&quot; tab on the PR page will display how many commits have been made)</li>
<li>Not including your original commit, mark <code>f</code>/<code>fixup</code> or <code>s</code>/<code>squash</code> for all commits after it (<a href="" ng-click="vm.scrollTo('example-of-step-2')">see example that follows</a>)</li>
<li>Update the latest master and do <code>git rebase master</code> on your branch, now that everything has been summed up into one or two commits<ol>
<li>You may run into a merge conflict. In that case, open the conflicting file(s) and modify them so that they reflect the desired final state.</li>
<li><code>git add &lt;filename&gt;</code> will include the corrected file into the rebase</li>
<li><code>git rebase --continue</code> will conclude the rebase now that the conflict has been resolved</li>
</ol>
</li>
<li><code>git push -f origin &lt;branch_name&gt;</code> to force push your branch up to Github. <em>Please do not push to master branch.</em></li>
</ol>
<p>Once Travis completes the tests on the rebased branch, the PR will be merged by an EncoreUI developer.</p>
<h5 id="example-of-step-2">Example of Step 2</h5><pre><code>pick 3564c3f feat(rxApp): the first of your PR commits with a good commit message
f 6d1216f fix(rxApp): typo
f 989861d fix(rxApp): another typo

# Rebase 422f14b..f6318bb onto 422f14b
#
# Commands:
#  p, pick = use commit
#  r, reword = use commit, but edit the commit message
#  e, edit = use commit, but stop for amending
#  s, squash = use commit, but meld into previous commit
#  f, fixup = like &quot;squash&quot;, but discard this commit&#39;s log message
#  x, exec = run command (the rest of the line) using shell
#
# These lines can be re-ordered; they are executed from top to bottom.
#
# If you remove a line here THAT COMMIT WILL BE LOST.
#
# However, if you remove everything, the rebase will be aborted.
#
# Note that empty commits are commented out
</code></pre><h3 class="title" id="right-to-revert">Right to Revert</h3 class="title"><p>Once the contribution has been merged into the repo, if any issues arise in the integration environment or upon subsequent feedback, the contribution may be reverted.</p>
