<h2 class="page-title title lg" id="encoreui-developer-setup">EncoreUI Developer Setup</h2></a><p>This document is intended for developers that wish to make changes to EncoreUI itself, not for people who wish to use EncoreUI with their projects.</p>
<p>If this is your first time, you&#39;ll need to set up your coding environment to be able to build EncoreUI and work with git.</p>
<h3 class="title" id="preparing-your-environment">Preparing your environment</h3></a><ol>
<li><p>Install git</p>
<p> Many Mac OS X and Linux systems already have git installed. If your system doesn&#39;t, see <a href="http://yuilibrary.com/yui/docs/tutorials/git/">YUI&#39;s &#39;How to Set Up Your Git Environment&#39;</a> for instructions.</p>
</li>
<li><p>Install Node.js</p>
<p> <a href="http://howtonode.org/how-to-install-nodejs">Download and install Node.js</a> if you don&#39;t already have it installed. All of EncoreUI&#39;s build tools rely on Node.js.</p>
</li>
<li><p>Install NPM</p>
<p> NPM is used to manage Node.js dependencies. If you don&#39;t already have it installed, follow <a href="http://howtonode.org/introduction-to-npm">the NPM installation instructions</a> to get a copy.</p>
</li>
<li><p>Install NPM Dependencies</p>
<ul>
<li>Short version
  `npm install -g grunt-cli bower</li>
<li>Long version<ul>
<li>Install Bower
  <a href="http://bower.io">Bower</a> is used to manage UI dependencies for use within the Encore application. Run <code>npm install -g bower</code> to install Bower.</li>
<li>Install Grunt
  <a href="http://gruntjs.com/">Grunt</a> is used to automate the UI build and test tasks for Encore. Run <code>npm install -g grunt-cli</code> to install Grunt.</li>
</ul>
</li>
<li><strong>Note:</strong> in order to run the midway tests, you must pin your protractor &amp; mocha installs to the versions above.</li>
</ul>
</li>
<li><p>Install PhantomJS</p>
<ul>
<li>Follow <a href="http://phantomjs.org/download.html">the install instructions for your OS</a>.</li>
</ul>
</li>
</ol>
<h3 class="title" id="initial-encore-build">Initial Encore Build</h3></a><p>If you haven&#39;t already, clone the Encore repo.</p>
<p><code>git clone git@github.com:rackerlabs/encore-ui.git</code></p>
<p>Once downloaded, go into the new directory:</p>
<p><code>cd encore-ui</code></p>
<p>Finally, install the dependencies needed by EncoreUI using NPM and bower:</p>
<p><code>npm install &amp;&amp; bower install</code></p>
<h3 class="title" id="running-encoreui">Running EncoreUI</h3></a><p>Run the following command:</p>
<p><code>grunt server</code></p>
<p>You can then open <code>http://localhost:9001</code> in a new browser and view the demo app. The page will automatically refresh when the code is updated.</p>
<h4 class="title sm" id="warning-emfile-too-many-open-files-39src39">Warning: EMFILE, too many open files &#39;src&#39;</h4></a><p>If you see the following <a href="https://github.com/gruntjs/grunt-contrib-copy/issues/21#issuecomment-46194402">error when running <code>grunt server</code></a>:</p>
<pre><code>Running &quot;watch&quot; task
Waiting...
Warning: EMFILE, too many open files &#39;src&#39;
</code></pre><p>Run <code>launchctl limit maxfiles 10480 10480</code> in your terminal. Depending on your operating system, sometimes <code>launchctl limit maxfiles 2048 2048 &amp;&amp; ulimit -n 2048</code> will work instead. You might also want to add that to your .bash_profile script.</p>
<h3 class="title" id="creating-a-new-module">Creating a New Module</h3></a><p>All functionality in EncoreUI is separated into different modules, with each module getting its own directory in the <code>src/</code> directory.</p>
<p>The best way to ensure you&#39;re adding a module that meets our requirements is by using our <a href="" ng-click="vm.scrollTo('component-scaffolding')">Component Scaffolding</a>, which will take care of generating the initial module layout for you.</p>
<p>There is an expected file structure and filename scheme for module directories, which our <a href="" ng-click="vm.scrollTo('component-scaffolding')">Component Scaffolding</a> follows. For example, the <code>rxSearchBox</code> directory looks like this:</p>
<pre><code>src/rxSearchBox
├── README.md
├── docs
│   ├── rxSearchBox.html
│   ├── rxSearchBox.js
│   └── rxSearchBox.midway.js
├── rxSearchBox.exercise.js
├── rxSearchBox.js
├── rxSearchBox.less
├── rxSearchBox.page.js
├── rxSearchBox.spec.js
└── templates
    └── rxSearchBox.html
</code></pre><p>If you are going to add a new module to EncoreUI, it must follow this structure. And not only is there an expected file, but some of these files have required &quot;boilerplate&quot; that must be present. The <a href="" ng-click="vm.scrollTo('component-scaffolding')">Component Scaffolding</a> not only generates these files, but also inserts the necessary boilerplate into them.</p>
<p>Make sure that you&#39;ve added the necessary tests (to the <code>.midway.js</code> and <code>.spec.js</code> files), run the tests, and verify that your changes haven&#39;t broken anything. Please see our <a href="https://github.com/rackerlabs/encore-ui/blob/master/testing.md">EncoreUI Testing guide</a> guide for more details.</p>
<h4 class="title sm" id="component-scaffolding">Component Scaffolding</h4></a><p>In order to promote consistency between components, and make it easier to create them, we use Grunt to provide scaffolding for new components.</p>
<p>In order to take advantage of the scaffolding, you need to install grunt-init globally:</p>
<p><code>npm install -g grunt-init</code></p>
<p>With grunt-init now installed, navigate to the <code>src</code> directory in EncoreUI.</p>
<p>Then create a new component folder and navigate into it, <strong>with the name of your component in camelCase</strong>. (e.g. <code>mkdir myTestComponent &amp;&amp; cd myTestComponent</code>)</p>
<p>Once created, from that folder, run <code>grunt-init ../../grunt-tasks/component-template/</code></p>
<p>Answer the questions prompted, let the task complete, and your new component folder should be ready for you to start coding away at. That&#39;s it.</p>
<h3 class="title" id="modifying-existing-modules">Modifying Existing Modules</h3></a><p>If you are planning on modifying an existing module, either to add functionality or to fix a bug, keep the following in mind:</p>
<ul>
<li><a href="https://github.com/rackerlabs/encore-ui/blob/master/testing.md">Add tests!</a> Any new functionality needs corresponding tests, and a bug fix should first have a new test written that illustrates the error</li>
<li>Add documentation! New functionality <em>requires</em> matching documentation.</li>
</ul>
<h3 class="title" id="testing-local-encoreui-changes-against-applications">Testing Local EncoreUI Changes Against Applications</h3></a><p>If you&#39;ve made local changes to EncoreUI, you likely have an Encore application where you&#39;re hoping to use these changes, and you likely want to test those changes against a local instance of your application.</p>
<p>Depending on when your application was first created, it&#39;ll either be grunt-based or gulp-based. If it was created from the <a href="https://github.com/rackerlabs/encore-ui-template">EncoreUI Template (deprecated)</a> or the <a href="https://github.com/rackerlabs/generator-encore">Encore Generator</a>, then it&#39;s gulp based.</p>
<h4 class="title sm" id="gruntbased-applications">grunt-based applications</h4></a><p>In our older EncoreUI-based applications, all Javascript and CSS dependencies had to be manually referenced in the application&#39;s <code>index.html</code> file. This usually looks like</p>
<pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;bower_components/encore-ui/encore-ui.css&quot;&gt;
...
&lt;script src=&quot;bower_components/encore-ui/encore-ui-tpls.min.js&quot;&gt;&lt;/script&gt;
</code></pre><p>When you&#39;ve made local changes to EncoreUI, you want to tell the local instance of your application to get these resources from the EncoreUI development server, and <em>not</em> from Bower.</p>
<ol>
<li>Make sure your EncoreUI development server is running, <code>grunt server</code></li>
<li>In Chrome, navigate to <code>http://localhost:9001</code>, open the Inspector, and click on the &quot;Sources&quot; tab</li>
<li>Expand <code>localhost:9001 -&gt; dist</code>, and you should see <code>encore-ui-resp-X.Y.Z.css</code> and <code>encore-ui-tpls-X.Y.Z</code> listed.</li>
<li>Right-click on the <code>.css</code> file, select &quot;Copy Link Address&quot;, and then replace the Bower CSS file in your <code>index.html</code> with this value</li>
<li>Do the same for the <code>.js</code> file</li>
</ol>
<p>You can now re-start your local application, and it will bring in the EncoreUI Javascript and CSS files directly from the EncoreUI development server, allow you to test your changes immediately.</p>
<h4 class="title sm" id="gulpbased-applications">gulp-based applications</h4></a><p>If your application is gulp-based (i.e. created with the EncoreUI Template or Encore Generator), then it will be much smarter about how to bring in these dependencies. Namely, the <code>index.html</code> file is auto-generated for these projects, no manual manipulation necessary. What we will do instead is provide a new &quot;global symlink&quot; for Bower to use when it&#39;s asked for <code>encore-ui</code></p>
<ol>
<li>Go to <code>encore-ui/bower</code> in your EncoreUI directory</li>
<li>Run <code>bower link</code>. Behind the scenes, this will create a global symlink in <code>~/.local/share/bower/links/</code></li>
<li>In your local application&#39;s directory, run <code>bower link encore-ui</code>. This will tell your application to grab EncoreUI from the local bower links, instead of from the official bower repositories. Restart your application.</li>
<li>When you are done testing your EncoreUI changes in your local project, run <code>bower update</code> from your project directory. This will tell it to start using the offical bower repositories once again.</li>
</ol>
<p>Note that if you make further changes in your EncoreUI directory, you&#39;ll have to run <code>grunt copy:bower</code> from within the EncoreUI directory to cause these changes to become visible in the local symlink directory. Requiring this step is a failure on our part, and in the future we&#39;ll modify our EncoreUI <code>watch</code> task to make sure this happens automatically.</p>
