/*
 * rxStatusColumn
 */

th.rx-status-header {
    width: 17px;
    padding: 0;
}

td.rx-status-column {
    &.status-ACTIVE {
        background: #ddffd3;
    }
    &.status-PENDING {
        background: #fdbc3c;
        background-image: url('images/status-pending.gif');
    }
    &.status-WARNING {
        background: #fdbc3c;
        i {
            color: #db7820;
        }
    }
    &.status-ERROR {
        background: #eb2124;
        i {
            color: #861212;
        }
    }
    &.status-INFO {
        background: #86cafd;
        i {
            color: #287BBD;
        }
    }

}
