<li class="rx-app-nav-item" ng-show="isVisible(item.visibility, item.roles)"
ng-class="{'has-children': item.children.length > 0, active: item.active, 'rx-app-key-{{ item.key }}': item.key }">
    <a href="{{ item.url }}" class="item-link" ng-click="toggleNav($event, item.href)">{{item.linkText}}</a>
    <div class="item-content" ng-show="item.active && (item.directive || item.children)">
        <div class="item-directive" ng-show="item.directive">
            <!-- item.directive injected here -->
        </div>
        <div class="item-children" ng-show="item.children && isVisible(item.childVisibility)">
            <div class="child-header" ng-if="item.childHeader" rx-compile="item.childHeader"></div>
            <!-- rx-app-nav injected here if 'children' is array -->
        </div>
    </div>
</li>
