<div class="warning-bar rx-notifications" ng-class="{preprod: isPreProd}" ng-if="isWarning">
    <div class="rx-notification notification-warning">
        <span class="notification-text">{{ warningMessage }}</span>
    </div>
</div>
<div class="rx-app" ng-class="{collapsible: collapsibleNav === 'true', collapsed: collapsedNav, 'warning-bar': isWarning, preprod: isPreProd}" ng-cloak>
    <nav class="rx-app-menu">
        <header class="site-branding">
            <h1 class="site-title">{{ siteTitle || 'Encore' }}</h1>
            <button class="collapsible-toggle btn-link" ng-if="collapsibleNav === 'true'" rx-toggle="$parent.collapsedNav" title="{{ (collapsedNav) ? 'Show' : 'Hide' }} Main Menu">
                <span class="visually-hidden">{{ (collapsedNav) ? 'Show' : 'Hide' }} Main Menu</span>
                <div class="double-chevron" ng-class="{'double-chevron-left': !collapsedNav}"></div>
            </button>
            <div class="site-options">
                <button class="btn-link site-option site-logout" rx-logout="{{logoutUrl}}">
                    Logout
                    <span ng-if="userId">({{ userId }})</span>
                </button>
            </div>
        </header>
        <nav class="rx-app-nav">
            <div ng-repeat="section in routes" class="nav-section nav-section-{{ section.type || 'all' }}">
                <h2 class="nav-section-title">{{ section.title }}</h2>
                <rx-app-nav items="section.children" level="1"></rx-app-nav>
            </div>
        </nav>
        <div class="rx-app-help clearfix">
            <rx-feedback ng-if="!hideFeedback"></rx-feedback>
        </div>
    </nav>
    <div class="rx-app-content" ng-transclude></div>
</div>
