<rx-page title="component.name">
    <div class="page-actions">
        <a href="https://github.com/rackerlabs/encore-ui/tree/master/src/{{ component.name }}/" class="component-source button">View Source</a>
    </div>

    <tabset class="clearfix clear">
        <tab heading="Readme" ng-if="component.docs.md">
            <div class="component-description" ng-bind-html="component.docs.md"></div>
        </tab>

        <tab heading="Demo"  ng-if="component.docs.html">
            <div rx-compile="component.docs.html"></div>
        </tab>

        <tab heading="Markup" ng-if="component.docs.html">
            <rx-prism language="markup">{{ component.docs.html }}</rx-prism>
        </tab>

        <tab heading="JavaScript" ng-if="component.docs.js">
            <rx-prism language="clike">{{ component.docs.js }}</rx-prism>
        </tab>
    </tabset>
</rx-page>
