<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    <!-- TODO build path to angular/lodash version based on bower.json -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.js"></script>
    <script src="./encore-ui-tpls.min.js"></script>

    <link href="assets/prism.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css" rel="stylesheet" />

    <link href="./encore-ui.css" rel="stylesheet" type="text/css" />

    <style>
        .pure-g > div {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 1em;
        }
    </style>

    <title>Encore UI</title>
</head>
<body ng-app="demoApp">
    <div class="container">
        <rx-nav></rx-nav>

        <div class="page-content">
            <rx-related-menu state="menuShown" collapsable="false" position="left">
                <ul class="product-resources">
                    <% config.demoModules.forEach(function(module) {  %><li><a href="#<%= module.name %>" ng-click="scrollTo('<%= module.name %>', $event)"><%= module.displayName %></a></li><% }); %>
                </ul>
            </rx-related-menu>
            <div class="main-content">

                <% config.demoModules.forEach(function(module) { %>
                    <section class="component">
                        <a id="<%= module.name %>"></a>
                        <h2 class="component-title"><%= module.displayName %><small>
                              (encore.ui.<%= module.name %>)
                          </small></h2>
                        <div class="pure-g">
                            <% if(module.docs.html) { %>
                            <div class="pure-u-1-2 component-example">
                                <%= module.docs.html %>
                            </div>
                            <% } %>
                            <div class="pure-u-1-2 component-description">
                                <%= module.docs.md %>
                            </div>
                        </div>
                        <div class="pure-g component-code">
                            <% if(module.docs.html) { %>
                            <div class="pure-u-1-2">
                                <h3>Markup</h3>
                                <pre ng-non-bindable><code class="language-markup"><%- module.docs.html %></code></pre>
                            </div>
                            <% } %>
                            <% if(module.docs.js) { %>
                            <div class="pure-u-1-2">
                                <h3>JavaScript</h3>
                                <pre ng-non-bindable><code class="language-clike"><%- module.docs.js %></code></pre>
                            </div>
                            <% } %>
                        </div>
                    </section>
                    <script><%= module.docs.js %></script>
                <% }); %>

            </div>
        </div>
    </div>

    <script>
        angular.module('demoApp', ['encore.ui'])
        .run(function ($rootScope, $location, $anchorScroll) {
            $rootScope.scrollTo = function (anchor, $event) {
                // prevent the default jump to top
                $event.preventDefault();

                // update angular location
                $location.hash(anchor);

                // run angular scrollTo
                $anchorScroll();
            }
        });
    </script>

    <script src="assets/prism.js"></script>
</body>
</html>