<fieldset class="form-item">
    <label for="{{fieldId}}" class="field-label">
        {{label}}:
    </label>
    <div class="field-select">
        <select name="{{fieldId}}" id="{{fieldId}}" ng-model="model" ng-required="required">
            <option
                ng-repeat="option in options"
                value="{{option.value}}"
                ng-disabled="option.disabled"
                ng-selected="{{option.value == model}}"
                >{{option.label}}</option>
        </select>
    </div>
</fieldset>