@import 'vars';

/*
 # rxForm
 */
.inputBorderPadding() {
    border: 1px solid @inputBorder;
    padding: 3px 5px;
}


/*
## Form Fields

field-prefix, field-suffix and field-description are all optional.

```
<div class="form-item">
    <label>
        <span class="field-label">
            Monthly Cost:
        </span>

        <span class="field-prefix">$</span>

        <span class="field-input">
            <!-- Form input will be added here -->
        </span>

        <span class="field-suffix">Million</span>

        <span class="field-description">Any description goes here</span>
    </label>
</div>
```
 */
.rx-form {
    margin: 15px 0 0;
}

.form-item {
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.form-description,
.form-item {
    margin-bottom: 15px;
}

.field-label,
.field-legend, {
    color: @subduedTitle;
    font-size: 1.1em;
    flex: 0 @fieldLabelWidth;
}

.field-content {
    display: flex;
    flex: 1 auto;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .field-prefix,
    .field-suffix {
        font-size: 1.2em;
    }
    .field-prefix {
        margin-right: 5px;
    }
    .field-suffix {
        margin-left: 5px;
    }

    .field-description {
        flex: 1 100%;
        font-size: 0.8em;
        font-style: italic;
        margin-top: 5px;
    }
}

/*
## Input fields

Any input field can be placed inside an element with a class of 'field-input'.

```
<span class="field-input">
    <input type="text"/>
</span>
```

```
<span class="field-input">
    <input type="checkbox"/>
</span>
```
 */
.field-input {
    input,
    select {
        color: @inputColor;
        font-size: 1.2em;
        border-radius: 0;

        &.ng-valid.ng-dirty {
            border-color: @inputBorderValid;
        }

        &.ng-invalid.ng-dirty {
            border-color: @inputBorderInvalid;
        }
    }

    input,
    .field-select {
        background: @white;
        max-width: 100%;
        box-sizing: border-box;
    }

    input {
        width: @fieldInputWidth;
        .inputBorderPadding;

        &[type="number"] {
            width: @fieldInputNumberWidth;
        }

        &[type="radio"],
        &[type="checkbox"] {
            width: auto;
            max-width: none;
            font-size: 1em;
            vertical-align: middle;
        }
    }

/*
## Dropdowns
Replace default UI of select fields and adds custom border/arrow

```
<div class="form-item">
    <label>
        <span class="field-label">
            Type:
        </span>

        <span class="field-prefix">$</span>

        <!-- Form input will be added here -->
        <span class="field-input">
            <span class="field-select">
                <select>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                    <option value="4">Option #4</option>
                </select>
            </span>
        </span>

        <span class="field-description">Any description goes here</span>
    </label>
</div>
```
*/
    .field-select {
        display: inline-block;
        position: relative;
        width: @fieldSelectWidth;

        select {
            width: 100%;
            // make sure arrow can show through
            background: transparent;
            // Remove default arrow
            -webkit-appearance: none;
            // @bugfix FF doesn't like 'none'
            // @see https://bugzilla.mozilla.org/show_bug.cgi?id=649849
            -moz-appearance: window;
            position: relative;
            z-index: 2;
            .inputBorderPadding;
        }

        &:before {
            content: ".";
            width: 0;
            height: 0;
            font-size: 0;
            display: block;
            position: absolute;
            border: 7px solid transparent;
            border-top-color: @inputBorder;
            border-bottom: none;
            top: 50%;
            margin-top: -4px;
            right: 9px;
        }
    }
}

/*
 * @bugfix Because of '-moz-appearance: window', the border/padding is removed from the select box.
 * This adds it back
 * @see http://stackoverflow.com/questions/5912791/how-to-remove-the-arrow-from-a-select-tag-in-firefox
 */
 @-moz-document url-prefix() {
    .field-select {
        .inputBorderPadding;
    }
}

/*
 * @bugfix Input field is marked as invalid before a user has done anything on form
 * @browsers FF
 * @see http://stackoverflow.com/questions/17209057/firefox-draws-red-border-on-required-select-box
 */
.ng-pristine .field-input .ng-invalid-required {
    box-shadow: none;
}

.option-table {
    // we want the table to not look ugly when stretched across the screen
    width: auto;
    // we also want a semi-consistent width
    min-width: 40em;

    td {
        // remove default padding from td's so that we can make the label take up the full room
        padding: 0;
    }
    label {
        // add padding to labels so they take up the entire cell's space
        display: block;
        padding: @tableCellPadding;
        cursor: pointer;
    }
    .option-table-input {
        text-align: center;
        line-height: 0;
    }
    .current td {
        color: #3AB661;
    }
    // @note KL: I'd like to stick with just adding the background to the <tr>, but
    // we need to make the selector more specific to override the table-stripe styles.
    .selected td {
        background: @tableRowSelected;
        border-color: #bad4bb;
        // this 'double' makes it so that the border-color applies to the top border as well
        // @see http://stackoverflow.com/questions/7942212/css-table-row-border-color-with-border-collapse
        border-style: double;
    }
}

.rx-form-fieldset {
    .option-table {
        min-width: 100%;
    }
}

/*
## Submit buttons

```
<div class="form-actions">
    <button class="submit form-action" type="submit" disabled="disabled">
        Submit Form (Disabled)
    </button>

    <button class="submit form-action" type="submit">
        Submit Form
    </button>
</div>

```
*/

.form-actions {
    padding: 20px 0;
}

.form-action {
    // override default button styles
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 1.2em;

    &.submit {
        color: @actionGreen;
        margin-right: 1em;
        &:hover,
        &:focus {
            color: @actionGreenHover;
        }
        &[disabled="disabled"] {
            color: @subduedText;
            cursor: not-allowed;
        }
    }
    &.cancel {
        color: @subduedText;
        &:hover,
        &:focus {
            color: @subduedTextHover;
        }
    }
}