@import 'vars';

.rx-form {
    margin: 15px 0 0;
}

.form-description,
.form-item {
    margin-bottom: 15px;
}

.field-label {
    width: 100px;
    text-align: left;
    float: left;
    color: #727272;
}

.field-input {
    margin: 0 0 0 10px;
    // Re-align so that the middle lines up with the form field
    position: relative;
    top: -5px;

    input,
    select {
        color: #444;
        background: transparent;
        font-size: 1.2em;
        border: 0;
        border-bottom: 1px solid @inputBorder;
        padding: 3px 5px;
    }

    input {
        width: 394px;

        &[type="number"] {
            width: 150px;
        }
    }

    .field-select {
        width: @modal-select-tag-width;
        position: relative;

        select {
            width: @modal-select-tag-width;
            -webkit-appearance: none;
        }

        &:before {
            content: ".";
            width: 0;
            height: 0;
            font-size: 0;
            display: block;
            position: absolute;
            border: 7px solid transparent;
            border-top-color: @inputBorder;
            border-bottom: none;
            top: 50%;
            margin-top: -4px;
            right: 9px;
        }
    }
}

/*
 * @bugfix Input field is marked as invalid before a user has done anything on form
 * @browsers FF
 * @see http://stackoverflow.com/questions/17209057/firefox-draws-red-border-on-required-select-box
 */
.ng-pristine .field-input .ng-invalid-required {
    box-shadow: none;
}

.field-suffix {
    font-size: 1.2em;
    margin-left: 5px;
    color: #727272;
}

.field-description {
    color: #727272;
    font-size: 0.8em;
    font-style: italic;
    display: block;
    color: #444;
    margin: 5px 0 0 110px;
}

.option-table {
    // we want the table to not look ugly when stretched across the screen
    width: auto;
    // we also want a semi-consistent width
    min-width: 40em;
    .option-table-input {
        // set a common width for input
        width: 2em;
    }
    td {
        // remove default padding from td's so that we can make the label take up the full room
        padding: 0;
    }
    label {
        // add padding to labels so they take up the entire cell's space
        display: block;
        padding: @table-default-cell-padding;
        cursor: pointer;
    }
    .current td {
        color: #3AB661;
    }
    // @note KL: I'd like to stick with just adding the background to the <tr>, but
    // we need to make the selector more specific to override the table-stripe styles.
    .selected th,
    .selected td {
        background: #c5e3c7;
        border-color: #bad4bb;
        // this 'double' makes it so that the border-color applies to the top border as well
        // @see http://stackoverflow.com/questions/7942212/css-table-row-border-color-with-border-collapse
        border-style: double;
    }
}

.form-actions {
    padding: 20px 0;
}

.form-action {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    cursor: pointer;
    font-size: 1.2em;

    &.submit {
        color: #3ab661;
        margin-right: 1em;
        &:hover,
        &:focus {
            color: lighten(#3ab661, 15%);
        }
        &[disabled="disabled"] {
            color: #b8b8b8;
            cursor: not-allowed;
        }
    }
    &.cancel {
        color: #b8b8b8;
        &:hover,
        &:focus {
            color: darken(#b8b8b8, 15%);
        }
    }
}