.component-description h1 {
    font-size: 1.6em;
    border-bottom: 1px solid #333;
    margin-top: 1.2em;
}

.component-description h2 {
    font-size: 1.4em;
    border-bottom: 1px solid #ccc;
    margin-top: .5em;
}

.component-description h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.component-description h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: #777;
}


/* TEMPORARY until Issue #8 completed. These styles should be moved to common.less */
.nav-tabs {
    display: flex;
    border-bottom: 9px solid #4480c1;

}
.nav-tabs li {
    flex: 0 0 auto;
}

.nav-tabs li a {
    background: #3f6085;
    color: #ccc;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
}

.nav-tabs li a:hover,
.nav-tabs li a:focus {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.nav-tabs li.active a {
    background: #4480c1;
    color: #fff;
}

.tab-pane {
    clear: both;
    display: none;
    border: 1px solid #aaa;
    background: #fff;
    padding: 10px;
}

.tab-pane.active {
    display: block;
}

pre[class*="language-"] {
    background: transparent;
}