.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
}

.section-title {
    font-size: 1.6em;
}

.component-description h1 {
    font-size: 1.6em;
    border-bottom: 1px solid #333;
    margin-top: 1.2em;
}

.component-description h2 {
    font-size: 1.4em;
    border-bottom: 1px solid #ccc;
    margin-top: .5em;
}

.component-description h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.component-description h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: #777;
}

.component-example aside {
    border: 1px solid #aaa;
    background: #fff;
    position: relative;
    padding: 10px;
}

.page-body .component-example .section-title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.85em;
    margin-top: 0;
    margin-bottom: 2em;
}