/* Code Styles */
/* Remove background color from syntax highlighted code (prism.css) */
pre[class*="language-"],
pre[class*="language-"] code {
  background: transparent;
  border: 0;
}
/* Custom Coloring (outside of prism syntax-highlighting) */
pre,
code {
  color: #404040;
  background-color: #d0d0d0;
  border: 1px solid #bababa;
  border-radius: 2px;
}
code {
  padding: 0 2px;
  margin: 0 1px;
}
pre {
  padding: 10px;
}
pre code {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
/* README */
.component-description {
  border: 1px solid #aaa;
  background: #fff;
  padding: 10px;
  margin-bottom: 2em;
}
.component-description h1,
.component-description h2,
.component-description h3,
.component-description h4,
.component-description h5,
.component-description h6 {
  margin-bottom: 0;
}
.component-description h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #333;
  margin-top: 1.2em;
}
.component-description h2 {
  font-size: 1.4em;
  border-bottom: 1px solid #ccc;
  margin-top: 0.5em;
}
.component-description h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.component-description h4 {
  font-size: 1.1em;
  font-weight: bold;
  color: #777;
}
.component-description ul li,
.component-description ol li {
  display: list-item;
  margin: 5px 0 0 30px;
}
.component-description ul li,
.component-description ul .item {
  list-style: disc;
}
.component-description ol li {
  list-style: decimal;
}
.component-description .readme-title {
  margin-top: 0;
}
.styleguide-character-count .counted-input-wrapper {
  width: 328px;
}
.styleguide-character-count .counted-input-wrapper .input-highlighting,
.styleguide-character-count .counted-input-wrapper textarea {
  width: 328px;
}
.overview-column {
  width: 300px;
  margin-right: 100px;
}
.overview-column h4 {
  font-weight: 600;
}
.overview-column a + p {
  margin-top: 5px;
}
table.component-attributes tbody tr th {
  white-space: nowrap;
}
table.component-attributes tr th:last-child,
table.component-attributes tr td:last-child {
  text-align: left;
}
table.component-attributes th,
table.component-attributes td {
  vertical-align: top;
  text-align: center;
}
.components-list .page-content {
  clear: left;
  margin-top: 60px;
}
.components-list table thead th {
  cursor: pointer;
}
.components-list table td,
.components-list table th {
  padding: 7px 10px;
}
p {
  line-height: 1.5;
}
.markdown ul,
.markdown ol {
  display: inline;
  margin: 0;
}
.markdown ul p,
.markdown ol p {
  display: inline-block;
}
.markdown ol li {
  list-style: decimal inside;
}
.markdown ul li {
  list-style: disc inside;
  margin: 10px 10px 10px 23px;
  text-indent: -13px;
}
.component-demo h1:first-child,
.component-demo h2:first-child,
.component-demo h3:first-child,
.component-demo h4:first-child,
.component-demo h5:first-child,
.component-demo h6:first-child {
  margin-top: 0;
}
rx-page.styleguide h1,
rx-page.styleguide h2,
rx-page.styleguide h3,
rx-page.styleguide h4,
rx-page.styleguide h5,
rx-page.styleguide h6 {
  margin-top: 2em;
}
rx-page.styleguide .swatch {
  flex: 0 0 auto;
  height: 250px;
  width: 275px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dededd;
  padding: 0;
  box-shadow: 0 3px 5px -2px #898989;
}
rx-page.styleguide .swatch .swatch-heading,
rx-page.styleguide .swatch .swatch-body {
  padding: 15px;
}
rx-page.styleguide .swatch .swatch-heading {
  height: 30px;
  font-weight: bold;
  font-size: 14px;
}
rx-page.styleguide .swatch .swatch-body ul.list,
rx-page.styleguide .swatch .swatch-body ol.list {
  margin: 0 0 0 20px;
}
rx-page.styleguide .swatch .swatch-body ul.list li,
rx-page.styleguide .swatch .swatch-body ol.list li {
  margin-left: 0;
}
rx-page.styleguide .swatch .swatch-green {
  background-color: #24b56a;
  color: #fff;
}
rx-page.styleguide .swatch .swatch-light-green {
  background-color: #c8e5bf;
  color: #000;
}
rx-page.styleguide .swatch .swatch-blue {
  background-color: #4881c0;
  color: #fff;
}
rx-page.styleguide .swatch .swatch-light-blue {
  background-color: #86cafd;
  color: #000;
}
rx-page.styleguide .swatch .swatch-disabled-gray {
  background-color: #dededd;
  color: #000;
}
rx-page.styleguide .swatch .swatch-cancel-gray {
  background-color: #898989;
  color: #fff;
}
rx-page.styleguide .swatch .swatch-orange {
  background-color: #db7820;
  color: #fff;
}
rx-page.styleguide .swatch .swatch-red {
  background-color: #fc0f1d;
  color: #fff;
}
