.component-description h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #333;
  margin-top: 1.2em;
}
.component-description h2 {
  font-size: 1.4em;
  border-bottom: 1px solid #ccc;
  margin-top: .5em;
}
.component-description h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.component-description h4 {
  font-size: 1.1em;
  font-weight: bold;
  color: #777;
}
.component-description {
  border: 1px solid #aaa;
  background: #fff;
  padding: 10px;
  margin-bottom: 2em;
}
.component-description .readme-title {
  margin-top: 0;
}
/* Remove background color from syntax highlighted code (prism.css) */
pre[class*="language-"] {
  background: transparent;
}
ul.colors {
  overflow: hidden;
}
ul.colors li.color-swatch {
  clear: both;
  float: left;
  margin: 10px 0;
  list-style: none;
  border: 1px solid #c0c0c0;
  width: 79px;
}
ul.colors .swatch {
  margin: 2px;
  width: 75px;
  height: 75px;
}
ul.colors .color-logic {
  float: left;
  margin: 20px 10px;
  max-width: 80%;
}
ul.colors .hexcode {
  text-align: center;
  font-weight: 900;
}
ul.colors .action-accept {
  background-color: #24b56a;
}
ul.colors .status-success {
  background-color: #c8e5bf;
}
ul.colors .action-edit {
  background-color: #4881c0;
}
ul.colors .status-info {
  background-color: #86cafd;
}
ul.colors .action-cancel {
  background-color: #898989;
}
ul.colors .status-disabled {
  background-color: #cfd2d4;
}
ul.colors .action-system {
  background-color: #db7820;
}
ul.colors .action-delete {
  background-color: #fc0f1d;
}
.styleguide-character-count .counted-input-wrapper {
  width: 328px;
}
.styleguide-character-count .counted-input-wrapper .input-highlighting,
.styleguide-character-count .counted-input-wrapper textarea {
  width: 328px;
}
.component-description ul li,
.component-description ol li {
  display: list-item;
  margin: 5px 0 0 30px;
}
.component-description ul li,
.component-description ul .item {
  list-style: disc;
}
.component-description ol li {
  list-style: decimal;
}
table.component-attributes th,
table.component-attributes td {
  vertical-align: top;
  text-align: center;
}
table.component-attributes tr th:last-child,
table.component-attributes tr td:last-child {
  text-align: left;
}
table.component-attributes tbody tr th {
  white-space: nowrap;
}
.components-list .page-content {
  clear: left;
  margin-top: 60px;
}
.components-list table thead th {
  cursor: pointer;
}
.components-list table td,
.components-list table th {
  padding: 7px 10px;
}
.component-description pre,
.component-demo pre,
.component-description code,
.component-demo code {
  color: #404040;
  background-color: #D0D0D0;
  border: 1px solid #BABABA;
  border-radius: 2px;
}
.component-description code,
.component-demo code {
  padding: 0 2px;
  margin: 0 1px;
}
.component-description pre,
.component-demo pre {
  padding: 10px;
}
.component-description pre code,
.component-demo pre code {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
p {
  line-height: 1.5;
}
