/* Code Styles */
/* Remove background color from syntax highlighted code (prism.css) */
pre[class*="language-"],
pre[class*="language-"] code {
  background: transparent;
  border: 0;
}
/* Custom Coloring (outside of prism syntax-highlighting) */
pre,
code {
  color: #404040;
  background-color: #d0d0d0;
  border: 1px solid #bababa;
  border-radius: 2px;
}
code {
  padding: 0 2px;
  margin: 0 1px;
}
pre {
  padding: 10px;
}
pre code {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.swatch {
  flex: 0 0 auto;
  height: 250px;
  width: 275px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dededd;
  padding: 0;
  box-shadow: 0 3px 5px -2px #898989;
}
.swatch .swatch-heading,
.swatch .swatch-body {
  padding: 15px;
}
.swatch .swatch-heading {
  height: 30px;
  font-weight: bold;
  font-size: 14px;
}
.swatch .swatch-body ul.list,
.swatch .swatch-body ol.list {
  margin: 0 0 0 20px;
}
.swatch .swatch-body ul.list li,
.swatch .swatch-body ol.list li {
  margin-left: 0;
}
.swatch .swatch-green {
  background-color: #24b56a;
  color: #fff;
}
.swatch .swatch-light-green {
  background-color: #c8e5bf;
  color: #000;
}
.swatch .swatch-blue {
  background-color: #4881c0;
  color: #fff;
}
.swatch .swatch-light-blue {
  background-color: #86cafd;
  color: #000;
}
.swatch .swatch-disabled-gray {
  background-color: #dededd;
  color: #000;
}
.swatch .swatch-cancel-gray {
  background-color: #898989;
  color: #fff;
}
.swatch .swatch-orange {
  background-color: #db7820;
  color: #fff;
}
.swatch .swatch-red {
  background-color: #fc0f1d;
  color: #fff;
}
.palette {
  width: 350px;
  margin-right: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-flow: column;
}
.palette.red .color.primary {
  background-color: #f44336;
}
.palette.red .color.secondary-100 {
  background-color: #ffcdd2;
}
.palette.red .color.secondary-700 {
  background-color: #d32f2f;
}
.palette.red .color.accent {
  background-color: #eb4d5c;
}
.palette.blue .color.primary {
  background-color: #1976d2;
}
.palette.blue .color.secondary-100 {
  background-color: #bbdefb;
}
.palette.blue .color.secondary-500 {
  background-color: #3391ff;
}
.palette.blue .color.secondary-900 {
  background-color: #0d47a1;
}
.palette.blue .color.accent {
  background-color: #00bdff;
}
.palette.green .color.primary {
  background-color: #4caf51;
}
.palette.green .color.secondary-100 {
  background-color: #c8e6c9;
}
.palette.green .color.secondary-700 {
  background-color: #2e7d32;
}
.palette.green .color.accent {
  background-color: #43b947;
}
.palette.orange .color.primary {
  background-color: #ffc107;
}
.palette.orange .color.secondary-100 {
  background-color: #ffecb3;
}
.palette.orange .color.secondary-700 {
  background-color: #d14904;
}
.palette.orange .color.accent {
  background-color: #ffd740;
}
.palette.purple .color.primary {
  background-color: #3b44a9;
}
.palette.purple .color.secondary-100 {
  background-color: #4a5acc;
}
.palette.purple .color.secondary-700 {
  background-color: #2e3187;
}
.palette.purple .color.accent {
  background-color: #5a74f2;
}
.palette.gray .color.shade-0 {
  background-color: #ffffff;
}
.palette.gray .color.shade-25 {
  background-color: #fafafa;
}
.palette.gray .color.shade-50 {
  background-color: #f5f5f5;
}
.palette.gray .color.shade-100 {
  background-color: #eeeeee;
}
.palette.gray .color.shade-200 {
  background-color: #e7e7e7;
}
.palette.gray .color.shade-300 {
  background-color: #e0e0e0;
}
.palette.gray .color.shade-400 {
  background-color: #d8d8d8;
}
.palette.gray .color.shade-500 {
  background-color: #bdbdbd;
}
.palette.gray .color.shade-600 {
  background-color: #9e9e9e;
}
.palette.gray .color.shade-700 {
  background-color: #757575;
}
.palette.gray .color.shade-800 {
  background-color: #616161;
}
.palette.gray .color.shade-900 {
  background-color: #424242;
}
.palette.gray .color.shade-950 {
  background-color: #333333;
}
.palette.gray .color.shade-975 {
  background-color: #212121;
}
.palette.gray .color.shade-1000 {
  background-color: #000000;
}
.palette .light-text {
  color: #ffffff;
}
.palette .dark-text {
  color: #333333;
}
.palette .color {
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}
.palette .color > div {
  flex: 1;
}
.palette .color > div:first-child {
  text-align: left;
}
.palette .color > div:last-child {
  text-align: right;
}
.palette .color > div small {
  display: block;
  font-family: "Roboto Mono", monospace;
}
.palette .color.heading {
  height: 100px;
  font-weight: bold;
}
.palette .color.accent {
  margin-top: 25px;
}
.palette .detail {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 10px;
}
/* README */
.component-description {
  border: 1px solid #aaa;
  background: #fff;
  padding: 10px;
  margin-bottom: 2em;
}
.component-description h1,
.component-description h2,
.component-description h3,
.component-description h4,
.component-description h5,
.component-description h6 {
  margin-bottom: 0;
}
.component-description h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #333;
  margin-top: 1.2em;
}
.component-description h2 {
  font-size: 1.4em;
  border-bottom: 1px solid #ccc;
  margin-top: 0.5em;
}
.component-description h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.component-description h4 {
  font-size: 1.1em;
  font-weight: bold;
  color: #777;
}
.component-description ul li,
.component-description ol li {
  display: list-item;
  margin: 5px 0 0 30px;
}
.component-description ul li,
.component-description ul .item {
  list-style: disc;
}
.component-description ol li {
  list-style: decimal;
}
.component-description .readme-title {
  margin-top: 0;
}
.styleguide-character-count .counted-input-wrapper {
  width: 328px;
}
.styleguide-character-count .counted-input-wrapper .input-highlighting,
.styleguide-character-count .counted-input-wrapper textarea {
  width: 328px;
}
.overview-column {
  width: 300px;
  margin-right: 100px;
}
.overview-column h4 {
  font-weight: 600;
}
.overview-column a + p {
  margin-top: 5px;
}
table.component-attributes tbody tr th {
  white-space: nowrap;
}
table.component-attributes tr th:last-child,
table.component-attributes tr td:last-child {
  text-align: left;
}
table.component-attributes th,
table.component-attributes td {
  vertical-align: top;
  text-align: center;
}
.components-list .page-content {
  clear: left;
  margin-top: 60px;
}
.components-list table thead th {
  cursor: pointer;
}
.components-list table td,
.components-list table th {
  padding: 7px 10px;
}
.page-content {
  clear: both;
}
p {
  line-height: 1.5;
}
.markdown ul,
.markdown ol {
  display: inline;
  margin: 0;
}
.markdown ul p,
.markdown ol p {
  display: inline-block;
}
.markdown ol li {
  list-style: decimal inside;
}
.markdown ul li {
  list-style: disc inside;
  margin: 10px 10px 10px 23px;
  text-indent: -13px;
}
.component-demo h1:first-child,
.component-demo h2:first-child,
.component-demo h3:first-child,
.component-demo h4:first-child,
.component-demo h5:first-child,
.component-demo h6:first-child {
  margin-top: 0;
}
rx-page.styleguide h1,
rx-page.styleguide h2,
rx-page.styleguide h3,
rx-page.styleguide h4,
rx-page.styleguide h5,
rx-page.styleguide h6 {
  margin-top: 2em;
}
.align-right {
  text-align: right;
}
