<ol class="rx-breadcrumbs">
    <li ng-repeat="breadcrumb in breadcrumbs.getAll(status)" class="breadcrumb">
        <ng-switch on="$last">
            <span ng-switch-when="true" class="breadcrumb-name last">
                <span ng-bind-html="breadcrumb.name"></span>
                <rx-status-tag status="{{ breadcrumb.status }}"></rx-status-tag>
            </span>
            <span ng-switch-default>
                <a href="{{breadcrumb.path}}" ng-class="{first: $first}" class="breadcrumb-name">
                    <span ng-bind-html="breadcrumb.name"></span>
                    <rx-status-tag status="{{ breadcrumb.status }}"></rx-status-tag>
                </a>
            </span>
        </ng-switch>
    </li>
</ol>
