@import (less) 'demo/bower_components/font-awesome/less/font-awesome.less';
@fa-font-path: 'font';
@import 'vars';
@import (inline) 'normalize.css';

/*
# Resets for HTML elements
*/
html, body {
    height: 100%;
    font-size: @appFontSize;
    color: @appTextColor;
    font-family: @appFont;
}

// Set default font
button, input, select,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: @appFont;
}

// Remove default margin/padding/etc
header, nav,
ol, ul, li,
h1, h2, h3, h4, h5, h6,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

// No list styles for lists
ol, ul, li {
    list-style: none;
}

// We want a little bit more line-spacing in paragraphs
p {
    line-height: @appLineHeight;
}

/*
# Link Styles

```
<a href="#">My Link</a>
<a href="#" class=":visited">Visited Link</a>
<a href="#" class=":hover">Hovered Link</a>
<a href="#" class=":focus">Focused Link</a>
<a href="#" class=":active">Active Link</a>
```
*/
a {
    text-decoration: none;
    color: @linkColor;
}
a:hover,
a:focus {
    text-decoration: underline;
    color: @linkColorHover;
}

/*
# Table Styles

```
<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Patrick Deuley</td>
            <td>Design Chaplain</td>
        </tr>
        <tr>
            <td>Hussam Dawood</td>
            <td>Evangelist of Roger Enriquez</td>
        </tr>
    </tbody>
</table>
```
*/
table {
    clear: both;
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    td,
    th {
        border: 1px solid @tableBorder;
        padding: @tableCellPadding;
        color: @tableCellText;
    }
    thead th {
        text-align: left;
        background: @tableHeaderBg;
        color: @tableHeaderText;
        border: 1px solid @tableHeaderBorder;
    }
    tr {
        background: @tableBg;
    }
    &.table-striped tr:nth-child(even) {
        background: @tableBgAlt;
    }
}

/*

# Heading/Title Styles

Headings are sized using 'xl', 'lg', 'sm' and 'xs'

The size of the heading is not impacted by the heading level used (e.g. `<h1>`, `<h2>`).
This is done to ensure that the heading levels are sequential.

See https://github.com/rackerlabs/encore-ui/blob/master/guides/css-styleguide.md#basic-rules for further reasoning

```
<h1 class="xl title">Huge Header</h1>

<h1 class="lg title">Large Header</h1>
<h2 class="lg title subdued">Large Gray Header</h2>

<h1 class="title">Regular Header</h1>

<h2 class="sm title">Small Header</h2>
<h3 class="sm title subdued">Small Gray Header</h3>

<div class="xs title">Tiny Header</div>
```
 */
.title {
    font-size: 18px;
    margin: 1em 0;

    & + & {
        // remove the top margin if two titles are placed right next to each other
        margin-top: 0;
    }

    // Sizing
    &.xl {
        font-size: 28px;
    }

    &.lg {
        font-size: 22px;
    }

    &.sm {
        font-size: 16px;
    }

    &.xs {
        font-size: 13px;
    }

    // Colors
    &.subdued {
        color: @subduedTitle;
    }
}

/*

# Statuses

Styles text to provide a clearer status regarding a simple message.

```
<h1 class="title">Action Links (Horizontal)</h1>
<p>
    <a href="#" class="msg-action link-action">Create</a>
    <span class="action-separator">\</span>
    <a href="#" class="msg-warn link-warn">Delete</a>
</p>

<h1 class="title">Messages</h1>
<p class="msg-action">Something was created</p>
<p class="msg-warn">Something was deleted</p>
<p class="msg-info">Informational Message</p>
<p class="msg-info-blue">Blue Informational Message</p>
```
*/
.link-action,
.link-action a,
.link-warn,
.link-warn a {
    font-size: 1.2em;
    cursor: pointer;
}

.link-action:before,
.link-action a:before {
    content: '+ ';
}

.link-warn:before,
.link-warn a:before {
    content: '- ';
}

.action-separator {
    font-size: 1.1em;
    color: @subduedText;
}

.msg-action,
.msg-action a {
    color: @actionGreen;
    &:hover,
    &:focus {
        color: @actionGreen;
    }
}

.msg-warn,
.msg-warn a {
    color: @warnRed;
    &:hover,
    &:focus {
        color: @warnRedHover;
    }
}

.msg-info,
.msg-info a {
    color: @infoOrange;
    &:hover,
    &:focus {
        color: @infoOrangeHover;
    }
}

.msg-info-blue,
.msg-info-blue a {
    color: @infoBlue;
    &:hover,
    &:focus {
        color: @infoBlueHover;
    }
}

/*
# Lists

Add bullets/decimals to lists with the 'list' class

### Decimals
```
<ol class="list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>
```

### Bullets
```
<ul class="list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
```

### Non-semantic lists
```
<div class="list bulleted">
    <p class="item">Item 1</p>
    <p class="item">Item 2</p>
    <p class="item">Item 3</p>
</div>

<div class="list decimal">
    <p class="item">Item 1</p>
    <p class="item">Item 2</p>
    <p class="item">Item 3</p>
</div>
```
 */
.list {
    li,
    .item {
        display: list-item;
        margin: 5px 0 0 30px;
    }

    ul&,
    &.bulleted {
        li,
        .item {
            list-style: disc;
        }
    }

    ol&,
    &.decimal {
        li,
        .item {
            list-style: decimal;
        }
    }
}

/*
# Wells

Creates a 'well' effect (box with light gray background)
```
<div class="well">
    <p>Well, here you go.</p>
</div>
```
*/
.well {
    background: #eee;
    padding: 40px 50px;

    p {
        line-height: 1.5em;
        color: @wellText;
    }
}

// # Other Stuff

/*
## Subdued Text
Basic color change to make text less prominant

```
<h1>My Items <span class="subdued">(10)</span></h1>
<h1><a href="#">My Items <span class="subdued">(10)</span></a></h1>
```
 */
.subdued {
    color: @subduedText;
}

// Add hover style if a link or inside a link
a.subdued:hover,
a.subdued:focus,
a:hover .subdued,
a:focus .subdued {
    color: @subduedTextHover;
}

/*
## Hidden content

### .hidden
Add to hide an element but not remove it from the spacing of the page
*/
.hidden {
    visibility: hidden;
}

/*
### .visually-hidden
Used to hide content visually but let them still be read by screen readers (removed from the page spacing)
See http://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
*/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
    display: none;
}

/*
## Clearing Floats

### Clearfix
Provide clearfix functionality
See http://nicolasgallagher.com/micro-clearfix-hack/

```
<h1 class="title lg">No Clearfix</h1>
<div style="background: #ddd; padding: 1em;">
    <div style="float: left; background: #eee; padding: 1em;">Floated Content</div>
</div>

<h1 class="title lg clear">With Clearfix</h1>
<div class="clearfix" style="background: #ddd; padding: 1em;">
    <div style="float: left; background: #eee; padding: 1em;">Floated Content</div>
</div>
```
*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
### Clearing siblings

Simple classes to help with clearing previous sibling floats

```

<div class="clearfix padding: 1em;">
    <div style="float: left;">Floated</div>
    <div class="clear-right">Uncleared (wrong side)</div>
    <div class="clear-left">Cleared</div>

    <hr>

    <div style="float: right;">Floated</div>
    <div class="clear-left">Uncleared (wrong side)</div>
    <div class="clear-right">Cleared</div>

    <hr>

    <div style="float: right;">Floated</div>
    <div style="float: left;">Floated</div>
    <div class="clear">Both cleared</div>
</div>
```
*/
.clear {
    clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

/*
### Full Width

Class that marks content as full width (e.g. to give a button full width).

Requires 'display' to be defined as `inline-block` or `block`

```
<button class="button sm negative">I'm just a sad regular button</button>
<button class="button xl positive full-width">Not me, I'm a happy wide button</button>
```

*/
.full-width {
    width: 100%;
}
