@import 'vars';

html, body {
    height: 100%;
    font-size: @appFontSize;
    color: @appTextColor;
}

// Set default font
button, input, select,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: @appFont;
}

// Remove default margin/padding/etc
header, nav,
ol, ul, li,
h1, h2, h3, h4, h5, h6,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

// No list styles for lists
ol, ul, li {
    list-style: none;
}

// We want a little bit more line-spacing in paragraphs
p {
    line-height: @appLineHeight;
}

/*
 Global styling for links

 ```
 <a href="#">My Link</a>
 <a href="#" class=":visited">Visited Link</a>
 <a href="#" class=":hover">Hovered Link</a>
 <a href="#" class=":focus">Focused Link</a>
 <a href="#" class=":active">Active Link</a>
 ```
 */
a {
    text-decoration: none;
    color: @linkColor;
}
a:hover,
a:focus {
    text-decoration: underline;
    color: @linkColorHover;
}

/* Table Styles */
table {
    clear: both;
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    td,
    th {
        border: 1px solid @tableBorder;
        padding: @tableCellPadding;
        color: @tableCellText;
    }
    thead th {
        text-align: left;
        background: @tableHeaderBg;
        color: @tableHeaderText;
        border: 1px solid @tableHeaderBorder;
    }
}
.table-striped tr:nth-child(even) {
    background: @tableBgAlt;
}

/*
 Global styling for buttons

 ```
 <button class="button">My Button</button>
 <button class="button button-small">My Button</button>
 <button class="button button-large">My Button</button>
 <button class="button button-green">My Button</button>
 <button class="button button-blue">My Button</button>
 <button class="button" disabled>My Button</button>
 <a href="#" class="button">My Link Button</a>
 ```
 */
 .button {
    display: inline-block;
    background: @buttonBg;
    color: @buttonText;
    border: 0;
    font-size: 1.2em;
    font-weight: 100;
    padding: .7em 1.5em;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

// in case the buttons are created using the <a> tag
.button:hover {
    text-decoration: none;
    color: @buttonText;
    background: @buttonBgHover;
}

.button.button-small {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: .8em;
}

.button.button-large {
    font-size: 1.5em;
}

.button.button-green {
    background: @buttonBgHover;
}

.button.button-blue {
    background: @buttonBg;
}

.button[disabled] {
    cursor: default;
    padding-left: 20px;
    background: @disabledBg;
}

/* Style to make buttons look like plain links */
.btn-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
}
thead th .btn-link {
    color: @tableHeaderText;
    &:hover,
    &:focus {
        color: @tableHeaderText;
    }
}

/*

Colors the text red to warn people that something important will/did happen (plus icons)

```
<a href="#" class="msg-warn link-warn">Delete</a>
<span class="msg-warn">Something was deleted</span>
```
*/
.link-action,
.link-action a,
.link-warn,
.link-warn a {
    font-size: 1.2em;
    cursor: pointer;
}

.link-action:before,
.link-action a:before {
    content: '+ ';
}

.link-warn:before,
.link-warn a:before {
    content: '- ';
}

.msg-action,
.msg-action a {
    color: @actionGreen;
    &:hover,
    &:focus {
        color: @actionGreen;
    }
}

.msg-warn,
.msg-warn a {
    color: @warnRed;
    &:hover,
    &:focus {
        color: @warnRedHover;
    }
}

.list-link,
.list-link a {
    font-size: 1.2em;
    padding-top: 10px;
    display: block;
}

.action-separator {
    font-size: 1.1em;
    color: #ccc;
}


/*
Basic color change to make text less prominant
<h1>My Items <span class="subdued">(10)</span></h1>
 */
.subdued {
    color: @subduedText;
}

/*
This can be added to hide an element but not remove it from the spacing of the
page
*/
.hidden {
    visibility: hidden;
}

/*
 * Hide content visually but let them still be read by screen readers
 * @see http://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
    display: none;
}

/*
 * Provide clearfix functionality
 * @see http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}