<ul class="actions-area pull-right">
    <li class="msg-info-blue">
        <button class="btn-link header-button" ng-click="toggleBulkActions()" ng-disabled="!rowsSelected">
            <span tooltip="{{ rowsSelected ? '' : 'You must select one or more rows to use batch actions.' }}">
                <i class="fa fa-cogs fa-lg"></i> Batch Actions
            </span>
        </button>
    </li>
    <div ng-show="displayed" class="batch-action-menu-container">
        <div class="batch-action-list batch-action-list-hideable">
            <ul class="actions-area" ng-transclude>
            </ul>
        </div>
    </div>
</ul>
