/*
# rxBreadcrumbs

They show your position within the site heirarchy.

```
<ol class="rx-breadcrumbs">
    <li class="breadcrumb">
        <span>
            <a href="#" class="breadcrumb-name first">First Breadcrumb</a>
        </span>
    </li>
    <li class="breadcrumb">
        <span>
            <a href="#" class="breadcrumb-name">Middle Breadcrumb</a>
        </span>
    </li>
    <li class="breadcrumb">
        <span>
            <a href="#" class="breadcrumb-name :hover">Hovered Breadcrumb</a>
        </span>
    </li>
    <li class="breadcrumb">
        <span class="breadcrumb-name last">Last Breadcrumb</span>
    </li>
</ol>
```
*/

.rx-breadcrumbs {
    overflow: hidden;
    border-style: solid;
    border-color: #ccc;
    float: left;

    .breadcrumb {
        float: left;

        @breadcrumbHeight: 1.2em;
        @breadcrumbArrowWidth: 9px;

        .breadcrumb-name {
            padding: @breadcrumbHeight/2 1em @breadcrumbHeight/2 2em;
            font-size: 0.9em;
            display: block;
            color: #555;
            position: relative;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
            background: #ddd;
        }
        .breadcrumb-name.last {
            background: transparent;
        }

        a::after,
        a::before{
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -@breadcrumbHeight;
            border: 0 solid transparent;
            border-width: @breadcrumbHeight 0 @breadcrumbHeight @breadcrumbArrowWidth;
            right: -@breadcrumbArrowWidth;
        }

        a::after{
            /* TODO add in border gradient to match nav background */
            border-left-color: #ddd;
            z-index: 2;
        }
        a::before{
            border-left-color: #ccc;
            right: -(@breadcrumbArrowWidth + 1);
            z-index: 1;
        }

        .first {
            padding-left: 1em;
            background: #c8c8c8;
        }
        .first::after {
            border-left-color: #c8c8c8;
        }

        a:hover {
            background: #fff;
        }
        a:hover::after {
            border-left-color: #fff;
        }
    }
}