<div class="rx-account-info">
    <rx-info-panel panel-title="Account Info">
        <div class="account-info-wrapper">
            <div class="account-info-label">
                Account Name
            </div>
            <div class="account-info-data">
                <a href="{{ accountPageUrl }}" target="_blank">
                    {{ accountName }}
                </a>
            </div>
        </div>
        <div class="account-info-wrapper">
            <div class="account-info-label">
                Account #
            </div>
            <div class="account-info-data">
                <a href="{{ accountPageUrl }}" target="_blank">
                    {{ accountNumber }}
                </a>
            </div>
        </div>
        <div class="account-info-wrapper">
            <div class="account-info-label">
                Badges
            </div>
            <div class="account-info-data">
                <img ng-repeat="badge in badges" ng-src="{{badge.url}}" data-name="{{badge.name}}" data-description="{{badge.description}}" tooltip-html="tooltipHtml(badge)" tooltip-placement="bottom">
            </div>
        </div>
        <div class="account-info-wrapper" ng-transclude></div>
    </rx-info-panel>
</div>
