<div class="account-info-banner">
    <ul class="account-info-text">
        <li>
            <div class="label">Account Name:</div>
            <div class="account-data">
                <a href="{{ accountPageUrl }}" target="_blank">
                    {{ accountName }}
                </a>
            </div>
        </li>
        <li>
            <div class="label">Account #:</div>
            <div class="account-data">
                <a href="{{ accountPageUrl }}" target="_blank">
                    {{ accountNumber }}
                </a>
            </div>
        </li>
        <li>
            <div class="label">Account Status:</div>
            <div class="account-data {{ statusClass }} account-status">{{ accountStatus }}</div>
        </li>
        <li>
            <div class="label">Access Policy:</div>
            <div class="account-data">{{ accountAccessPolicy }}</div>
        </li>
        <li ng-if="showCurrentUser">
            <div class="label">Current User:</div>
            <div class="account-data">
                <rx-account-users></rx-account-users>
            </div>
        </li>
        <li class="badges" ng-repeat="badge in badges">
            <div class="account-info-badge">
                <img ng-src="{{badge.url}}" data-name="{{badge.name}}" data-description="{{badge.description}}" tooltip-html="tooltipHtml(badge)" tooltip-placement="bottom">
            </div>
        </li>
    </ul>
</div>
