<h5>Available Product Resources</h5>

<ul class="product-resources">
    <rx-active-url url="/servers">
        <a href="#/{{user}}/servers/" class="ico-servers">Cloud Servers <span>OpenStack / Nova</span></a>
    </rx-active-url>
    <rx-active-url url="/cbs/">
        <a href="#/{{user}}/cbs/volumes/" class="ico-block-storage">Block Storage <span>OpenStack / Cinder</span></a>
        <ul class="sub-products">
            <rx-active-url url="/cbs/volumes">
                <a href="#/{{user}}/cbs/volumes/">Volumes</a>
            </rx-active-url>
            <rx-active-url url="/cbs/snapshots">
                <a href="#/{{user}}/cbs/snapshots/">Snapshots</a>
            </rx-active-url>
        </ul>
    </rx-active-url>
    <rx-active-url url="/databases/instances">
        <a href="#/{{user}}/databases/instances/" class="ico-databases">Databases <span>OpenStack / Trove</span></a>
    </rx-active-url>
</ul>