<div class="rx-sortable-column">
    <button class="sort-action btn-link" ng-click="sortMethod({property:sortProperty})">
        <span class="visually-hidden">Sort by&nbsp;</span>
        <span ng-transclude></span>
        <i class="sort-icon"
            ng-style="{visibility: predicate === '{{sortProperty}}' && 'visible' || 'hidden'}"
            ng-class="{'desc': !reverse, 'asc': reverse}">
            <span class="visually-hidden">Sorted {{reverse ? 'ascending' : 'descending'}}</span>
        </i>
    </button>
</div>
