.layout-demo {
  .base-box {
    height: 50px;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-shadow: 0 0 4px rgba(100, 100, 100, 1);
  }

  .box {
    &:extend(.layout-demo .base-box);
    width: 150px;
    margin: 10px 15px;
  }

  .flex-box {
    &:extend(.layout-demo .base-box);
    width: auto;
  }

  .dark-blue { background-color: #4881c0; }
  .light-blue { background-color: #86cafd; }
  .dark-green { background-color: #24b56a; }
  .light-green { background-color: #c8e5bf; }
  .orange { background-color: #db7820; }

  .small-box-container {
    width: 95%;
    height: 300px;
    margin: 0 auto 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
  }

  .small-box {
    &:extend(.layout-demo .base-box);
    height: auto;
    width: auto;
    text-align: center;
  }

  .grow-box {
    &:extend(.layout-demo .base-box);
    height: auto;
  }

  .layout-examples {
    input[type="radio"] {
      margin-right: 6px;
    }

    label {
      margin: 10px 0 0 10px;
    }
  }
}
